@using FreeWheeling.Domain.Entities;
@* ///////////////////////////////NOTE//////////////////////////////////
        If you change this file then you should also change the _ListRandomPrivateRides.cshtml to match, Thanks!
    ////////////////////////////////////////////////////////////////////////////////////////////////// *@
<table style="width:100%">
    @foreach (Ad_HocRide item in @Model._Ad_HocRide)
    {
        <tr style="width:100%">
            <td>
                <div class="col-xs-2 col-md-4 col-sm-6">@item.Name</div>
                <div class="col-xs-8 col-md-6 col-sm-6">
                    @item.RideDate.ToLongDateString() @Html.Raw(",") @item.RideDate.ToShortTimeString()
                </div>
                <div class="col-xs-2 col-md-2 col-sm-6">
                    @Html.ActionLink(string.Concat(" "), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
             new { @class = "glyphicon glyphicon-search", onclick = "ShowProgress();" })
                </div>
            </td>
        </tr>
    }
</table>