@using FreeWheeling.Domain.Entities;
@* ///////////////////////////////NOTE//////////////////////////////////
        If you change this file then you should also change the _ListRandomRides.cshtml to match, Thanks!
    ////////////////////////////////////////////////////////////////////////////////////////////////// *@
<div class="row">
    <table class="table content-box" style="width:100%">
        @foreach (Ad_HocRide item in @Model.PrivateRandomBunches)
        {
            <tr style="width:100%;">
                <td>
                    <div class="col-xs-5 col-md-5 col-sm-5 col-lg-5">
                        @Html.ActionLink(@item.Name, "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
             new { @class = "pull-left", onclick = "ShowProgress();" })
                    </div>
                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
                        @Html.ActionLink(string.Concat(@item.RideDate.DayOfWeek.ToString()), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
             new { @class = "", onclick = "ShowProgress();" })
                    </div>
                    <div class="pull-right">
                        @Html.ActionLink(string.Concat(" "), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
             new { @class = "pull-right glyphicon glyphicon-search", onclick = "ShowProgress();" })
                    </div>
                </td>
            </tr>
        }
    </table>
</div>