@using FreeWheeling.Domain.Entities;
@* ///////////////////////////////NOTE//////////////////////////////////
        If you change this file then you should also change the _ListRandomPrivateRides.cshtml to match, Thanks!
    ////////////////////////////////////////////////////////////////////////////////////////////////// *@
<table style="width:100%">
    @foreach (Ad_HocRide item in @Model._Ad_HocRide)
    {
        <tr style="width:100%">
            <td>
                <div class="col-xs-4 col-md-5 col-sm-5 col-lg-4">
                    @Html.ActionLink(@item.Name, "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
             new { @class = "", onclick = "ShowProgress();" })
            </div>
                <div class="col-xs-7 col-md-6 col-sm-6 col-lg-6">
                    @Html.ActionLink(string.Concat(@item.RideDate.DayOfWeek.ToString(), ",", @item.RideDate.ToShortTimeString()), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
             new { @class = "", onclick = "ShowProgress();" })
                </div>
                <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1">
                    @Html.ActionLink(string.Concat(" "), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
             new { @class = "pull-right glyphicon glyphicon-search", onclick = "ShowProgress();" })
                </div>
            </td>
        </tr>
    }
</table>