@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities; 
@{
    int position = Convert.ToInt32(ViewData["position"]);
    List<Rider> riders = new List<Rider>();

    riders = Model.Riders;
    int rideid = Model.Ride.id;
    
    if (position == 2)
    {
        riders = Model.NextRiders;
        rideid = Model.NextRide.id;
    }  
}
@foreach (Rider item in @riders)
        {
            {
                switch (item.PercentKeen)
                {
                    case "Out":
                    <text>
                    <p><span id="@("keen_" + @item.Name + @rideid)" style="text-decoration:line-through" class="greyout">@item.Name<span style="padding-left:5px;" class="glyphicon glyphicon-thumbs-down"></span></span></p>
                    </text>
                    break;  // Always break each case
                    case "OnWay":
                    <text>
                    <p><span id="@("keen_" + @item.Name + @rideid)">@item.Name <span class="onway"> left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></span></p>
                    </text>
                    break;  // Always break each case
                    case "In":
                    <text>
                    @if (@User.Identity.Name == item.Name)
                    {
                        <p><span id="@("keen_" + @item.Name + @rideid)">@item.Name <span style="padding-left:5px;" class="glyphicon glyphicon-thumbs-up"></span><span style="padding-left:5px;padding-bottom:2px;"> <a href="#" onclick="fb_publish('@Model.Group.id','@Model.Group.name','Life is better in a bunch');" data-href="@("http://www.bunchy.com.au/Ride?groupid="+@Model.Group.id)"> <img src="~/Content/Images/share_facebook.png" /></a></span></span></p>    
                    }
                    else
                    {
                     <p><span id="@("keen_" + @item.Name + @rideid)" class="">@item.Name <span style="padding-left:5px;" class="glyphicon glyphicon-thumbs-up"></span></span></p>   
                    }                    
                    </text>
                    break;
                }
            }
<p></p>
        }