@using FreeWheeling.Domain.Entities; 
@foreach (Rider item in @Model.Riders)
        {
            {
                switch (item.PercentKeen)
                {
                    case "Out":
<text>
    <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" style="" class="">@item.Name is Out</span></p>

</text>
                            break;  // Always break each case
                        case "OnWay":
<text>
    <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" class="">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>

</text>
                            break;  // Always break each case
                        case "In":
<text>
    <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" class="">@item.Name is in!</span></p>
</text>
                            break;
                    }
                }

<p></p>
            }
