@* Based on http://jsfiddle.net/WNbLU/ *@
@model FreeWheeling.UI.Models.RideModelIndex
@{
    int position = Convert.ToInt32(ViewData["position"]);
      
    string collapseMainHash = "#collapseFirst";
    string collapseKeenHash = "#collapseKeenFirst";
    string collapseCommentHash = "#collapseCommentFirst";
       
    string collapseMain = "collapseFirst";
    string bunchchevronclass = Model.FirstBunchChevronClass;
    string keenchevronclass = Model.FirstKeenChevronClass;
    string commentchevronclass = Model.FirstCommentChevronClass;
    
    string bunchpannelclass = Model.FirstBunchPanelClass;
    string keenpannelclass = Model.FirstKeenPanelClass;
    string commentpannelclass = Model.FirstCommentPanelClass;
    
    string bunchpanelid = "FirstDetails";
    string keenpanelid = "collapseKeenFirst";
    string commentpanelid = "collapseCommentFirst";

    string commentcollapsearea = "CommentCollapseArea";
    string commentcountid = "CommentCount";
    string keencountid = "KeenCount";

    string riderskeenpartial = "_RidersKeen";
    string keenactionpartial = "_KeenActions";
    string commentpartial = "_Comments";
    
    int rideid = Model.Ride.id;
    int keencount = Model.KeenCount;
    int commentcount = Model.CommentCount;
    DateTime ridedate =  Model.Ride.RideDate;

    if (position == 2)
    {   
        collapseMainHash = "#collapseSecond";
        collapseKeenHash = "#collapseKeenSecond";
        collapseCommentHash = "#collapseCommentSecond";

        collapseMain = "collapseSecond";
        bunchchevronclass = Model.SecondBunchChevronClass;
        keenchevronclass = Model.SecondKeenChevronClass;
        commentchevronclass = Model.SecondCommentChevronClass;
        
        bunchpannelclass = Model.SecondBunchPanelClass;
        keenpannelclass = Model.SecondKeenPanelClass;
        commentpannelclass = Model.SecondCommentPanelClass;

        bunchpanelid = "SecondDetails";
        keenpanelid = "collapseKeenSecond";
        commentpanelid = "collapseCommentSecond";

        commentcollapsearea = "SecondCommentCollapseArea";
        commentcountid = "CommentCountSecond";
        keencountid = "KeenCountSecond";
        
        rideid = Model.NextRide.id;
        keencount = Model.NextKeenCount;
        commentcount = Model.NextCommentCount;        
        ridedate =  Model.NextRide.RideDate;
    }
}

<div class="row">
    <div class='panel-group'>
        <div class='panel panel-default'>
            <div class="row">
                <div class="SecondaryHeadingMain panel-heading">
                    <div class="col-xs-12 col-md-12 col-sm-12">        
                            <a class="col-xs-10 col-md-11 col-sm-10 SecondaryHeadingMain" data-toggle=" collapse" href="@collapseMainHash">
                                @ridedate.ToString("dddd, d MMM HH:mm")
                            </a>                   
                        <div class="col-xs-1 col-md-1 col-sm-1">
                            <a class="SecondaryHeadingMain @bunchchevronclass" id="@bunchpanelid" data-toggle="collapse" href="@collapseMainHash"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="@collapseMain" class="@bunchpannelclass">
                <div class='panel'>
                    <div class="row">
                            <div class="SecondaryHeading panel-heading">
                                <div class="col-xs-12 col-md-12 col-sm-12">
                                    <div class="col-xs-10 col-md-11 col-sm-10">
                                        <a data-toggle="collapse" href="@collapseKeenHash" class="SecondaryHeading">Keen</a>
                                        <a class="SecondaryHeading" id="@("KeenCountSpan"+@rideid)">(@keencount.ToString())</a>
                                    </div>
                                    <div class="col-xs-1 col-md-1 col-sm-1">
                                        <a class="SecondaryHeading @keenchevronclass" id="@keencountid" data-toggle="collapse" href="@collapseKeenHash"></a>
                                    </div>
                                </div>
                                </div>
                    </div>
                    <div id="@keenpanelid" class="@keenpannelclass">
                        <div class="panel-body panelBody">
                            <div id="@("keendiv_" + @rideid)">
                                @Html.Partial(@riderskeenpartial, Model, new ViewDataDictionary { { "position", @position } })                             
                            </div>
                            <hr />
                            @Html.Partial(@keenactionpartial, Model, new ViewDataDictionary { { "position", @position } })
                        </div>
                    </div>
                </div>
                <div class='panel panel-default'>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12" style="">
                            <div class="SecondaryHeading panel-heading" id="@commentcollapsearea">
                                <div class="col-xs-10 col-md-11 col-sm-10">
                                    <a data-toggle="collapse" href="@collapseCommentHash">Comments</a>
                                    <a id="@("CommentCountSpan" + @rideid)">(@commentcount)</a>
                                </div>
                                <div class="col-xs-1 col-md-1 col-sm-1">
                                    <a id="@commentcountid" class="SecondaryHeading @commentchevronclass" data-toggle="collapse" href="@collapseCommentHash"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="@commentpanelid" class="@commentpannelclass">
                        <div id="@commentcollapsearea">
                            <div class="panel-body panelBody">
                                @if (@Model.Comments != null)
                                {
                                    @Html.Partial(@commentpartial, Model, new ViewDataDictionary { { "position", @position } })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>