@model FreeWheeling.UI.Models.RideCommentModel
@{
    ViewBag.Title = "Add Comment";
}

<h4><span class="label label-success">Add a Comment</span></h4>

@Html.ActionLink("<-- Back to Ride", "NextRide", "Ride", new { RideId = @Model.RideId, Groupid = @Model.GroupId, PreviousRideID = @Model.PreviousRide.id }, new { @class = "btn btn-default" })
<p></p>
@using (Html.BeginForm())
{
    <div>
        
        @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
    </div>
    <p></p>
    <input class="btn btn-primary" type="submit" name="CommentSubmit" value="Add Comment" />

}

