@model FreeWheeling.UI.Models.AdHocRidesModel
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "AddHocList";
}

<h2>AddHocList</h2>

@foreach (Ad_HocRide item in @Model._Ad_HocRide)
{
   
    @item.Name @Html.Raw(", ")  @item.RideDate.ToLongDateString() @Html.Raw(" ")
    @Html.ActionLink(string.Concat("View Ride Details"), "ViewAdHocRide", "Ride", new { adhocrideid = item.id }, new { @class = "btn btn-success" })
    
}

