@model FreeWheeling.UI.Models.AdHocRidesModel
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "Add Hoc bunches";
}

<div class="container-fluid">
    <div class="pull-left">
        @Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
    </div>
</div>

<table class="table content-box">
    <tr>
        @if (@Model.PrivateRandomBunches.Count > 0)
        {
            foreach (Ad_HocRide item in @Model.PrivateRandomBunches)
            {
                <td>@item.Name</td>
                <td>@item.RideDate.ToLongDateString() @Html.Raw(", ") @item.RideDate.ToShortTimeString()</td>
                <td>
                    @Html.ActionLink(string.Concat("View bunch Details"), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
                    new { @class = "btn btn-success", onclick = "ShowProgress();" })
                </td>
            }
        }
    </tr>
    <tr>
        @if (@Model._Ad_HocRide.Count > 0)
        {
            foreach (Ad_HocRide item in @Model.PrivateRandomBunches)
            {
                <td>@item.Name</td>
                <td>@item.RideDate.ToLongDateString() @Html.Raw(", ") @item.RideDate.ToShortTimeString()</td>
                <td>
                    @Html.ActionLink(string.Concat("View bunch Details"), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
                    new { @class = "btn btn-success", onclick = "ShowProgress();" })
                </td>
            }
        }
    </tr>
    <tr>
        @if (@Model._Ad_HocRide.Count + @Model.PrivateRandomBunches.Count <= 0)
        {
            <td>
                <div class="btn-group col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
                    @Html.ActionLink("No Ad Hoc bunches yet, please create some!", "CreateAdHoc", "Group", null,
                 new { @class = "btn btn-default btn-block", onclick = "ShowProgress();" })                  
                </div>
            </td>
        }
    </tr>
</table>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            HideProgress();
        });
    </script>
}