@model FreeWheeling.UI.Models.AdHocRidesModel
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "Add Hoc bunches";
}

@Html.ActionLink("Back <---", "Index", "Home", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })

<h2>Add Hoc bunches</h2>

@if (@Model.PrivateRandomBunches.Count > 0)
{
     foreach (Ad_HocRide item in @Model.PrivateRandomBunches)
    {
        <h3> <span class="label label-info">@item.Name </span></h3>
        <p></p>
        @item.RideDate.ToLongDateString() @Html.Raw(", ") @item.RideDate.ToShortTimeString()
        <p></p>
        @Html.ActionLink(string.Concat("View bunch Details"), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
        new { @class = "btn btn-success", onclick = "ShowProgress();" })
        <hr />   
    }
}

@if (@Model._Ad_HocRide.Count > 0 )
{              
    foreach (Ad_HocRide item in @Model._Ad_HocRide)
    {
        <h3> <span class="label label-info">@item.Name </span></h3>
        <p></p>
        @item.RideDate.ToLongDateString() @Html.Raw(", ") @item.RideDate.ToShortTimeString()
        <p></p>
        @Html.ActionLink(string.Concat("View bunch Details"), "ViewAdHocRide", "Ride", new { adhocrideid = item.id },
        new { @class = "btn btn-success", onclick = "ShowProgress();" })
        <hr />   
    }
}
 else
    {
       @Html.ActionLink("No Ad Hoc bunches yet, please create some!", "CreateAdHoc", "Group", null,
       new { @class = "btn btn-default", onclick = "ShowProgress();" })                
    }

<div class="loading" style="display:none;" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            HideProgress();
        });
    </script>
}