@model FreeWheeling.UI.Models.EditAdHocRideModel
@{
    ViewBag.Title = "Edit Random bunch";
}

<link href="~/Content/datepicker.css" rel="stylesheet" />

@if (!ViewData.ModelState.IsValid)
{
}

<p></p>

@Html.ActionLink(" ", "ViewAdHocRide", "Ride", new { adhocrideid = @Model.adhocrideid }, new { @style = "background-color: #FFF; color: #333333;", @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })

<p></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <div class="row">

        <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
            <span class="btn btn-default btn-block"> Edit Random bunch </span>
        </div>
        
         <div class="col-lg-12">
             <div><span class="RequiredField">*&nbsp;</span><b>bunch Name:</b></div>
             <div>
                 @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
             </div>
             <p></p>
             <div><span class="RequiredField">*&nbsp;</span><b>Location:</b></div>
             @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ),  new { @class = "form-control" }

    )
             <p></p>
             <div><span class="RequiredField">*&nbsp;</span><b>Date</b></div>

             <div>
                 @Html.TextBoxFor(model => model.DateString, null, new { id = "MyDate", @class = "form-control" })
             </div>

             <div class="span5" id="MyDateDiv"><div></div></div>
             <p></p>
             <div><span class="RequiredField">*&nbsp;</span><b>Hour (24 Hour)</b></div>
             <div>
                 @Html.TextBoxFor(model => model.RideHour, new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.RideHour)
             </div>
             <p></p>
             <div><span class="RequiredField">*&nbsp;</span><b>Minute</b></div>
             <div>
                 @Html.TextBoxFor(model => model.RideMinute, new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.RideMinute)
             </div>
             <p></p>
             <div><b>Private</b></div>
             <div>@Html.CheckBoxFor(model => model.IsPrivate, new { @class = "form-control" })</div>
             <p></p>
             <div><span class="RequiredField">*&nbsp;</span><b>Start Location</b></div>

             <div>
                 @Html.TextBoxFor(model => model.StartLocation, new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.StartLocation)
             </div>
             <p></p>
             <div><span class="RequiredField">*&nbsp;</span><b>Description</b></div>

             <div>
                 @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
             </div>
             <p></p>
             <div><span class="RequiredField">*&nbsp;</span><b>veloroute Route Number</b></div>

             <div>
                 @Html.TextBoxFor(model => model.MapUrl, new { @class = "form-control" })
             </div>
             <div>
                 <p></p>
                 <input onclick="ShowProgress();" class="btn btn-default" id="btnSubmit" type="submit" value="Update" />
                 @Html.ActionLink("Delete", "DeleteAdHocRide", "Ride",
                 new { adhocrideid = @Model.adhocrideid }, new { @class = "btn btn-default", onclick = "ShowProgress();" })
                 <p></p>
             </div>
             </div>
         </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

                jQuery(document).ready(function () {
                    HideProgress();
                });
 
        $(function () {

            $('#MyDateDiv div').datepicker({
            }).on('changeDate', function (e) {
                $('#MyDate').val(e.format('dd/mm/yyyy'))
            });
            
        });

        $("form").submit(function () {
            if (!$(this).valid()) {
                HideProgress();
            }
            else {
               
            }
        });
    </script>
}