@model FreeWheeling.UI.Models.EditAdHocRideModel
@{
    ViewBag.Title = "Edit Ad Hoc bunch";
}

<link href="~/Content/datepicker.css" rel="stylesheet" />

@Html.ActionLink("<-- Back to Ride", "ViewAdHocRide", "Ride", new { adhocrideid = @Model.adhocrideid }, new { @class = "btn btn-default" })

@Html.ActionLink("Delete", "DeleteAdHocRide", "Ride", new { adhocrideid = @Model.adhocrideid }, new { @class = "btn btn-default" })

<h2>Edit Ad Hoc bunch</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorFor(model => model.Name)
    
     <p></p>
        @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ),  new { @class = "form-control" }

    )
        
        <div><span class="RequiredField">*&nbsp;</span>Date</div>
          
        <div>
            @Html.TextBoxFor(model => model.DateString,null, new { id = "MyDate", @class = ""})
        </div>
    
        <div class="span5" id="MyDateDiv"><div></div></div>
           
        <div><span class="RequiredField">*&nbsp;</span>Hour (24 Hour)</div>
        <div>
            @Html.TextBoxFor(model => model.RideHour)
        </div>
    
        <div><span class="RequiredField">*&nbsp;</span>Minute</div>
        <div>
            @Html.TextBoxFor(model => model.RideMinute)
        </div>
           
        <hr />
    
        <div><span class="RequiredField">*&nbsp;</span>Start Location</div>
        
        <div> 
            @Html.TextBoxFor(model => model.StartLocation)
        </div>
    
    <div><span class="RequiredField">*&nbsp;</span>Description</div>
        
        <div> 
            @Html.TextAreaFor(model => model.Description)
        </div>
    
    <div><span class="RequiredField">*&nbsp;</span>veloroute Route Number</div>
        
        <div> 
            @Html.TextBoxFor(model => model.MapUrl)
        </div>
    
    <div>
            <p></p>
            <input id="btnSubmit" type="submit" value="Update" />
        </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#MyDateDiv div').datepicker({
            }).on('changeDate', function (e) {
                $('#MyDate').val(e.format('dd/mm/yyyy'))
            });
            
        });
    </script>
}