@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}
@Html.Hidden("RideIdHidden", @Model.Ride.id)
@Html.Hidden("NextRideIdHidden", @Model.NextRide.id)
@Html.Hidden("RideUserNameHidden", User.Identity.GetUserName())
@Html.Hidden("CommentCount", @Model.CommentCount)
@Html.Hidden("CommentCountNext", @Model.NextCommentCount)
@Html.Hidden("KeenCount", @Model.KeenCount)
@Html.Hidden("KeenCountNext", @Model.NextKeenCount)

<div class="row">
    <div class="pull-left col-md-1">
        @Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
    </div> 
    <div class="pull-left col-md-1">
        @Model.Group.name
    </div>
    </div>
@if (@Model.IsOwner)
{
}
@if (@Model.MapUrl != null)
{
    @Html.Raw(@Model.MapUrl)
}
<p></p>
<div class='panel-group'>
    <div class='panel panel-primary'>
        <div class="panel-heading ">
                <a class="@Model.FirstBunchChevronClass" id="FirstDetails" data-toggle="collapse" href="#collapseFirst"></a>
                <a class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                    @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
                </a>
            </div>
            <div id="collapseFirst" class="@Model.FirstBunchPanelClass">
                <div class='panel panel-warning'>
                    <div class="panel-heading ">
                        <a class="@Model.FirstKeenChevronClass" id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst"></a>
                        <a data-toggle="collapse" href="#collapseKeenFirst" class="label label-success">Keen</a>
                        <a id="@("KeenCountSpan"+@Model.Ride.id)">(@Model.KeenCount.ToString())</a>
                    </div>
                    <div id="collapseKeenFirst" class="@Model.FirstKeenPanelClass">
                        <div class="panel-body panelBody">
                            <div id="@("keendiv_" + @Model.Ride.id)">
                                @Html.Partial("_RidersKeen")
                            </div>
                            <hr />
                           @Html.Partial("_KeenActionFirst")
                         </div>
                    </div>
                </div>
                <div class='panel panel-info'>
                    <div class="panel-heading" id="CommentCollapseArea">
                        <a id="CommentCount" class="@Model.FirstCommentChevronClass" data-toggle="collapse" href="#collapseCommentFirst"></a>
                        <a class="label label-success" data-toggle="collapse" href="#collapseCommentFirst">Comments</a>
                        <a id="@("CommentCountSpan" + @Model.Ride.id)">(@Model.CommentCount)</a>
                    </div>
                    <div id="collapseCommentFirst" class="@Model.FirstCommentPanelClass">
                        <div id="CommentCollapseArea">
                            <div class="panel-body panelBody">
                                @if (@Model.Comments != null)
                                {
                                    @Html.Partial("_FirstComments")
                                }
                            </div>
                        </div>
                   </div>
             </div>
        </div>
    </div>
</div> 

@*-------------------------------------------------Start of Next Ride -------------------------------------------------------------*@

<div class='panel-group'>
    <div class='panel panel-primary'>
        <div class="panel-heading ">
            <a class="@Model.SecondBunchChevronClass" id="SecondDetails" data-toggle="collapse" href="#collapseSecond"></a>
            <a class="label label-primary" data-toggle="collapse" href="#collapseSecond">
                @Model.NextRide.RideDate.ToLongDateString() @Html.Raw(",") @Model.NextRide.RideDate.ToShortTimeString()
            </a>
        </div>
        <div id="collapseSecond" class="@Model.SecondBunchPanelClass">
            <div class='panel panel-warning'>
                <div class="panel-heading ">
                    <a class="@Model.SecondKeenChevronClass" id="KeenCountSecond" data-toggle="collapse" href="#collapseKeenSecond"></a>
                    <a data-toggle="collapse" href="#collapseKeenSecond" class="label label-success">Keen</a>
                    <a id="@("KeenCountSpan" + @Model.NextRide.id)">(@Model.NextKeenCount.ToString())</a>
                </div>
                <div id="collapseKeenSecond" class="@Model.SecondKeenPanelClass">
                    <div class="panel-body panelBody">
                        <div id="@("keendiv_" + @Model.NextRide.id)">
                            @Html.Partial("_RidersKeenSecond")
                        </div>
                        <hr />
                        @Html.Partial("_KeenActionSecond")
                    </div>
                </div>
            </div>
            <div class='panel panel-info'>
                <div class="panel-heading" id="SecondCommentCollapseArea">
                    <a id="CommentCountSecond" class="@Model.SecondCommentChevronClass" data-toggle="collapse" href="#collapseCommentSecond"></a>
                    <a class="label label-success" data-toggle="collapse" href="#collapseCommentSecond">Comments</a>
                    <a id="@("CommentCountSpan" + @Model.NextRide.id)">(@Model.NextCommentCount)</a>
                </div>
                <div id="collapseCommentSecond" class="@Model.SecondCommentPanelClass">
                    <div id="CommentCollapseArea">
                        <div class="panel-body panelBody">
                            @if (@Model.Comments != null)
                            {
                                @Html.Partial("_SecondComments")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="loading" style="display:none;" align="center">
        Loading. Please wait.<br />
        <br />
        <img src="~/Content/Images/loader.gif" alt="" />
    </div>
    @section scripts{
        @Scripts.Render("~/Scripts/jquery.timeago.js")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/azuremobile")
        @Scripts.Render("~/bundles/pusher")
        <script src="~/Scripts/DoubleBunchRide.js"></script>
    }