@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<p>
    <h2>
        @Model.Group.name
    </h2>
    @if (@Model.IsOwner)
    {
       
    }

</p>

@if (@Model.MapUrl != null)
{
    @Html.Raw(@Model.MapUrl)
}
<p></p>

@if (@Model.FromFavPage)
{

    @Html.ActionLink("Back <---", "Mybunches", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })
    
   
}
else
{
@Html.ActionLink("Back <---", "Index", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })
    
 
}

<hr />

<p>
    <h4>
        @if (@Model.FirstBunch)
{

            <span class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                <span class="glyphicon glyphicon-chevron-down" id="FirstDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
            </span>

}
else
{

            <span class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                <span class="glyphicon glyphicon-chevron-up" id="FirstDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
            </span>

}
    </h4>
    <hr />

    @if(@Model.FirstComment)
    {
    @:<div id="collapseFirst" class="panel-collapse collapse in">
        }
        else
        {
        @:<div id="collapseFirst" class="panel-collapse collapse">
            }


            <h4>

                @if (@Model.FirstKeen)
        {
                    <span id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst" class="label label-success glyphicon glyphicon-chevron-up">Keen (@Model.KeenCount.ToString())</span>
        }
        else
        {
                    <span id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst" class="label label-success glyphicon glyphicon-chevron-down">Keen (@Model.KeenCount.ToString())</span>
        }

            </h4>

            @if(@Model.FirstKeen)
    {
                @:<div id="collapseKeenFirst" class="panel-collapse collapse in">
    }
    else
    {
                @:<div id="collapseKeenFirst" class="panel-collapse collapse">
    }

            <div>
                @{

        foreach (Rider item in @Model.Riders)
        {
            {
                switch (item.PercentKeen)
                {
                    case "OnWay":
                        <text>
<p><span class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>
                
            </text>
            break;  // Always break each case
        case "In":
            <text>
                <p><span class="label label-success">@item.Name is in!</span></p>
            </text>
            break;                   
    }
}  
            
       <p></p>       
    }
       
}
</div>
</div>
<hr />

<div>

    @if (@Model.Comments != null)
    {
    <h4>
       

        @if (@Model.FirstComment)
{
    <span id="CommentCount" class="label label-success glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseCommentFirst">Comments (@Model.CommentCount)</span>
}
        else
        {
            <span id="CommentCount" class="label label-success glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseCommentFirst">Comments (@Model.CommentCount)</span>
        }
            
    </h4>

    if(@Model.FirstComment)
    {
        @:<div id="collapseCommentFirst" class="panel-collapse collapse in">
    }
    else
    {
       @:<div id="collapseCommentFirst" class="panel-collapse collapse">
    }

        foreach (Comment item in Model.Comments)
        {

            @item.userName <text>: </text>
            @item.CommentText
            @:<p></p>
        }

        @Html.ActionLink(string.Concat("See all Comments (", @Model.CommentCount, ")"), "SeeAllComments", "Ride", new { RideId = @Model.Ride.id, Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage }, new { @class = "btn btn-success", onclick = "ShowProgress();" })

    }
</div>
</div>
    <div>

        @using (Html.BeginForm("AddComment", "Ride", new { groupid = @Model.Group.id,
                                                             rideid = @Model.Ride.id,
                                                             FromFavPage = @Model.FromFavPage
        }, FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBox("CommentString", null, new { @class = "form-control-C"})
                <span class="input-group-addon-C">
                    <button class="btn btn-success" onclick="ShowProgress();" id="submit" type="submit">Add comment</button>
                </span>
            </div>
        }

    </div>

<hr />

<h4><span class="label label-success">Actions</span></h4>

<p></p>
@Html.ActionLink("I'm In!", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "In", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage }, new { @class = "btn btn-primary", onclick = "ShowProgress();" })

<p></p>
@Html.ActionLink("I'm Out", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "Out", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage }, new { @class = "btn btn-danger", onclick = "ShowProgress();" })

<p></p>
@Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "OnWay", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage }, new { @class = "btn btn-success", onclick = "ShowProgress();" })

<p></p>

</div> @*div for end of first collapse*@ 

<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")

    <script>

        function toggleChevron(e) {
            $(e).toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }

        //IDs for collapse user remember
        // 1 = FirstBunchCollapse
        // 2 = FirstKeen
        // 3 = FirstComment
        // 4 = SecondBunchCollapse
        // 5 = SecondKeen
        // 6 = SecondComment

        jQuery(document).ready(function () {
            jQuery("abbr.timeago").timeago();

            jQuery('#collapseKeenFirst').on('hidden.bs.collapse', function () {
                toggleChevron('#KeenCount');
       
                var data = {
                    'id': 2,
                    'collapsed': false
                };

                extendDataService.save(data);
            });

            jQuery('#collapseKeenFirst').on('shown.bs.collapse', function () {
                toggleChevron('#KeenCount');

                var data = {
                    'id': 2,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseCommentFirst').on('hidden.bs.collapse', function () {
                toggleChevron('#CommentCount');
             
                var data = {
                    'id': 3,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseCommentFirst').on('shown.bs.collapse', function () {
                toggleChevron('#CommentCount');
               
                var data = {
                    'id': 3,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseFirst').on('hidden.bs.collapse', function () {
                toggleChevron('#FirstDetails');

                var data = {
                    'id': 1,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseFirst').on('shown.bs.collapse', function () {
                toggleChevron('#FirstDetails');

                var data = {
                    'id': 1,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

        });

    </script>
}