@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>
    @Model.Group.name
</h2>

@Html.ActionLink("Back <---", "Index", "Group", null, new { @class = "btn btn-info" })


@if (@Model.NextRide != null)
{

    @Html.ActionLink("Next Ride -->", "NextRide", "Ride", new { RideId = @Model.NextRide.id, Groupid = @Model.Group.id, PreviousRideID = @Model.Ride.id },
                                                      new { @class = "btn btn-default" })
        
}
<hr />

@*<h2 class="text-left"><span class="label label-primary">@Model.Ride.RideDate.DayOfWeek Ride for @Model.Group.name</span></h2>*@

<p>
    <span class="label label-primary">
        @*@Model.RideDate.Day @Model.RideDate.ToString("MMMM")*@

       @Model.Ride.RideDate.ToLongDateString()
        </span>

    <hr />

        <h4><span class="label label-success">Riders</span></h4>

@{
    
    foreach (Rider item in @Model.Riders)
    {
       
        {
        switch (item.PercentKeen)
        {
        case "OnWay":
            <text>
                <p><span class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>
                
            </text>
            break;  // Always break each case
        case "CantMake":
            <text>
                <p><span class="label label-danger">@item.Name is a slacker!</span></p>
            </text>
            break;
            case "Different":
            <text>
                <p><span class="label label-danger">@item.Name will be riding (Just not with you lot.)</span></p>
            </text>
            break;
        default:
            <text>
                <p><span class="label label-success">@item.Name is @item.PercentKeen % sure to be there</span></p>
            </text>
            break;                   
    }
}        
       <p></p>       
    }
       
}
<hr />

<div>

    @if (@Model.Comments != null)
    {
    <h4><span class="label label-success">Comments</span></h4>
    
        foreach (Comment item in Model.Comments)
    {
        
        @item.Date.ToShortDateString() @Html.Raw(" ")  @item.Date.ToShortTimeString() @Html.Raw(" ")
        @item.userName <text>: </text>
        @item.CommentText
        @:<p></p>
        
    }
                   
    }

</div>

@Html.ActionLink("Add Comment", "AddComment", "Ride", new { RideId = @Model.Ride.id, Groupid = @Model.Group.id }, new { @class = "btn btn-success" })

<hr />

<h4><span class="label label-success">Actions</span></h4>

    <p></p>
    @Html.ActionLink("Will be 100% there!", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "100", Groupid = @Model.Group.id }, new { @class = "btn btn-primary" })

    <p></p>
    @Html.ActionLink("I am a good chance (80%)", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "80", Groupid = @Model.Group.id }, new { @class = "btn btn-primary" })

    <p></p>
    @Html.ActionLink("Will see how I feel 1 hour before (60%)", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "60", Groupid = @Model.Group.id }, new { @class = "btn btn-primary" })

    <p></p>
    @Html.ActionLink("Will be riding in a different group", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "Different", Groupid = @Model.Group.id }, new { @class = "btn btn-danger" })

    <p></p>
    @Html.ActionLink("Won't be there", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "CantMake", Groupid = @Model.Group.id }, new { @class = "btn btn-danger" })

    <p></p>
    @Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "OnWay", Groupid = @Model.Group.id }, new { @class = "btn btn-success" })
    
    <p></p>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    <script>

        jQuery(document).ready(function () {
            jQuery("abbr.timeago").timeago();
        });

    </script>
}