@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}
@Html.Hidden("RideIdHidden", @Model.Ride.id)
@Html.Hidden("NextRideIdHidden", @Model.NextRide.id)
@Html.Hidden("RideUserNameHidden", User.Identity.GetUserName())
@Html.Hidden("CommentCount", @Model.CommentCount)
@Html.Hidden("CommentCountNext", @Model.NextCommentCount)
@Html.Hidden("KeenCount", @Model.KeenCount)
@Html.Hidden("KeenCountNext", @Model.NextKeenCount)
<h2>
    @Model.Group.name
</h2>
@if (@Model.IsOwner)
{
}
@if (@Model.MapUrl != null)
{
    @Html.Raw(@Model.MapUrl)
}
<p></p>
@Html.ActionLink("Back <---", "Index", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })
<hr />
<p>
    <div>
        <!--First Div for First Ride-->
        <h4>
            <a class="@Model.FirstBunchChevronClass" id="FirstDetails" data-toggle="collapse" href="#collapseFirst"></a>
            <a class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
            </a>
        </h4>
        <hr />
        <div id="collapseFirst" class="@Model.FirstBunchPanelClass">
            <h4>
                <a class="@Model.FirstKeenChevronClass" id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst"></a>
                <a id="KeenCount1" data-toggle="collapse" href="#collapseKeenFirst" class="label label-success">Keen</a>
                <a id="@("KeenCountSpan"+@Model.Ride.id)">(@Model.KeenCount.ToString())</a>
            </h4>
            <div id="collapseKeenFirst" class="@Model.FirstKeenPanelClass">
                <div id="@("keendiv_" + @Model.Ride.id)">
                    @Html.Partial("_RidersKeen")
                </div>
            </div>
            <hr />
            <div id="CommentCollapseArea">
                @if (@Model.Comments != null)
                {
                    @Html.Partial("_FirstComments")
                }
            </div>
            <hr />
            @Html.Partial("_KeenActionFirst")
            <div id="Invite_Users_First">

                @Html.ActionLink("Invite Users", "InviteOthersToBunch", "Ride",
        new
        {
            RideId = @Model.Ride.id
        },
        new { @class = "btn btn-success", onclick = "ShowProgress();", id = "InviteFirst" })

            </div>

        </div> @*div for end of first collapse*@

        @*-------------------------------------------------Start of Next Ride -------------------------------------------------------------*@

        <hr />

<p>
    <div>
        <!--First Div for Second Ride-->
        <h4>
            <a class="@Model.SecondBunchChevronClass" id="SecondDetails" data-toggle="collapse" href="#collapseSecond"></a>
            <a class="label label-primary" data-toggle="collapse" href="#collapseSecond">
                @Model.NextRide.RideDate.ToLongDateString() @Html.Raw(",") @Model.NextRide.RideDate.ToShortTimeString()
            </a>
        </h4>
        <hr />
        <div id="collapseSecond" class="@Model.SecondBunchPanelClass">
            <h4>
                <a class="@Model.SecondBunchChevronClass" id="KeenCountSecond" data-toggle="collapse" href="#collapseKeenSecond"></a>
                <a id="KeenCountSecond" data-toggle="collapse" href="#collapseKeenSecond" class="label label-success">Keen</a>
                <a id="@("KeenCountSpan"+@Model.NextRide.id)">(@Model.NextKeenCount.ToString())</a>
            </h4>
            <div id="collapseKeenSecond" class="@Model.SecondKeenPanelClass">
                <div id="@("keendiv_" + @Model.NextRide.id)">
                    @Html.Partial("_RidersKeenSecond")
                </div>
            </div>
            <hr />
            <div id="SecondCommentCollapseArea">
                @if (@Model.NextComments != null)
                {
                    @Html.Partial("_SecondComments")
                }
            </div>
            @Html.Partial("_KeenActionSecond")

            <div id="Invite_Users_Second">

                @Html.ActionLink("Invite Users", "InviteOthersToBunch", "Ride",
        new
        {
            RideId = @Model.NextRide.id,
            PreviousID = @Model.Ride.id
        },
        new { @class = "btn btn-success", onclick = "ShowProgress();", id = "InviteFirst" })

            </div>
        </div>
    </div>@*div for end of second collapse*@

    <div class="loading" style="display:none;" align="center">
        Loading. Please wait.<br />
        <br />
        <img src="~/Content/Images/loader.gif" alt="" />
    </div>

    @section scripts{
        @Scripts.Render("~/Scripts/jquery.timeago.js")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/azuremobile")
        @Scripts.Render("~/bundles/pusher")
        <script src="~/Scripts/DoubleBunchRide.js"></script>
    }
