@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}
@Html.Hidden("RideIdHidden", @Model.Ride.id)
@Html.Hidden("NextRideIdHidden", @Model.NextRide.id)
@Html.Hidden("RideUserNameHidden", User.Identity.GetUserName())
@Html.Hidden("CommentCount", @Model.CommentCount)
@Html.Hidden("CommentCountNext", @Model.NextCommentCount)
@Html.Hidden("KeenCount", @Model.KeenCount)
@Html.Hidden("KeenCountNext", @Model.NextKeenCount)
<p></p>
<div class="row">
    <div class="pull-left col-xs-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">
    @if (@Model.FromHome == "true")
    {

        @Html.ActionLink(" ", "Index", "Home", null, new { @style = "background-color: #FFF; color: #333333;", @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
 
    }
    else
    {      
         @Html.ActionLink(" ", "Index", "Group", null, new { @class = "glyphicon glyphicon-chevron-left", @style = "background-color: #FFF; color: #333333;", onclick = "ShowProgress();" })    
    }

    @Html.Partial("_JsonFavIcon")  

    </div>
    </div>
    <hr />
    <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
        <span class="btn btn-default btn-block">@Model.Group.name</span>
    </div>
    </div>
@if (@Model.IsOwner)
{
}
@if (@Model.MapUrl != null)
{
    <div class="row">
        <div class='panel-group'>
            <div class='panel panel-default'>
                <div class="SecondaryHeading panel-heading">
                    <div class="col-xs-10 col-md-11 col-sm-10">
                        Map
                        </div>
                        <div class="col-xs-1 col-md-1 col-sm-1">
                            <a class="glyphicon glyphicon glyphicon-plus" id="MapPanel" data-toggle="collapse" href="#CollapseMap"></a>
                        </div>
                    </div>
                <div class='panel-collapse collapse out' id="CollapseMap">
                    @Html.Raw(@Model.MapUrl)
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_RidePanel", Model, new ViewDataDictionary { { "position", "1" } })
@Html.Partial("_RidePanel", Model, new ViewDataDictionary { { "position", "2" } })
@section scripts{
  @Scripts.Render("~/Scripts/jquery.timeago.js")
  @Scripts.Render("~/bundles/jqueryval")
  @Scripts.Render("~/bundles/azuremobile")
  @Scripts.Render("~/bundles/pusher")
  <script src="~/Scripts/DoubleBunchRide.js"></script>
}