@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Back To My Groups <---", "MyGroups", "Group", null, new { @class = "btn btn-info" })

@Html.ActionLink("Back To Groups <---", "Index", "Group", null, new { @class = "btn btn-info" })

<p></p>
@Html.ActionLink("Next Ride -->", "NextRide", "Ride", new { RideId = @Model.NextRide.id, Groupid = @Model.Group.id }, new { @class = "btn btn-default" })


<h2 class="text-left"><span class="label label-primary">@Model.Ride.RideDate.DayOfWeek Ride for @Model.Group.name</span></h2>

<p><span class="label label-primary">@Model.Ride.RideDate</span></p>

<h4><span class="label label-success">Riders</span></h4>

<p></p>

@{
    
    foreach (Rider item in @Model.Riders)
    {
       
        {
        switch (item.PercentKeen)
        {
        case "OnWay":
            <text>
                <p><span class="label label-success">@item.Name is on the way! Left at @item.LeaveTime</span></p>
            </text>
            break;  // Always break each case
        case "CantMake":
            <text>
                <p><span class="label label-danger">@item.Name is a slacker!</span></p>
            </text>
            break;
            case "Different":
            <text>
                <p><span class="label label-danger">@item.Name will be riding (Just not with you lot.)</span></p>
            </text>
            break;
        default:
            <text>
                <p><span class="label label-warning">@item.Name is @item.PercentKeen % sure to be there</span></p>
            </text>
            break;                   
    }
}        
       <p></p>       
    }
       
}
<br />

@Html.ActionLink("View Comments", "AddComment", "Ride", new { RideId = @Model.Ride.id, Groupid = @Model.Group.id }, new { @class = "btn btn-success" })


<h4><span class="label label-success">Actions</span></h4>

    <p></p>
    @Html.ActionLink("Will be 100% there!", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "100", Groupid = @Model.Group.id }, new { @class = "btn btn-primary" })

    <p></p>
    @Html.ActionLink("I am a good chance (80%)", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "80", Groupid = @Model.Group.id }, new { @class = "btn btn-primary" })

    <p></p>
    @Html.ActionLink("Will see how I feel 1 hour before (60%)", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "60", Groupid = @Model.Group.id }, new { @class = "btn btn-primary" })

    <p></p>
    @Html.ActionLink("Will be riding in a different group", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "Different", Groupid = @Model.Group.id }, new { @class = "btn btn-danger" })

    <p></p>
    @Html.ActionLink("Won't be there", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "CantMake", Groupid = @Model.Group.id }, new { @class = "btn btn-danger" })

    <p></p>
    @Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "OnWay", Groupid = @Model.Group.id }, new { @class = "btn btn-success" })
    
    <p></p>