@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

@Html.Hidden("RideIdHidden", @Model.Ride.id)
@Html.Hidden("NextRideIdHidden", @Model.NextRide.id)
@Html.Hidden("RideUserNameHidden", User.Identity.GetUserName())
@Html.Hidden("CommentCount", @Model.CommentCount)
@Html.Hidden("CommentCountNext", @Model.NextCommentCount)
@Html.Hidden("KeenCount", @Model.KeenCount)
@Html.Hidden("KeenCountNext", @Model.NextKeenCount)

<script src="http://js.pusher.com/2.2.0-rc1/pusher.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.3.min.js"></script>
<h2>
    @Model.Group.name
</h2>
@if (@Model.IsOwner)
{

}

@if (@Model.MapUrl != null)
{
    @Html.Raw(@Model.MapUrl)
}
<p></p>

@if (@Model.FromFavPage)
{

    @Html.ActionLink("Back <---", "Mybunches", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })

}
else
{
    @Html.ActionLink("Back <---", "Index", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })
}

<hr />

<p>
    <h4>
        @if (@Model.FirstBunch)
        {

            <span class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                <span class="glyphicon glyphicon-chevron-down" id="FirstDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
            </span>
 
        }
        else
        {

            <span class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                <span class="glyphicon glyphicon-chevron-up" id="FirstDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
            </span>

        }
    </h4>
    <hr />

    @if (@Model.FirstBunch)
    {
        @:<div id="collapseFirst" class="panel-collapse collapse in">
        }
    else
    {
        @:<div id="collapseFirst" class="panel-collapse collapse">
            }


    <h4>

        @if (@Model.FirstKeen)
        {
            @:<span id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst" class="label label-success glyphicon glyphicon-chevron-up">Keen<span id="@("KeenCountSpan"+@Model.Ride.id)">(@Model.KeenCount.ToString())</span></span>
        }
        else
        {
            @:<span id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst" class="label label-success glyphicon glyphicon-chevron-down">Keen<span id="@("KeenCountSpan"+@Model.Ride.id)">(@Model.KeenCount.ToString())</span></span>
        }

    </h4>

    @if (@Model.FirstKeen)
    {
        @:<div id="collapseKeenFirst" class="panel-collapse collapse in">
    }
    else
    {
        @:<div id="collapseKeenFirst" class="panel-collapse collapse">
    }

              <div id="@("keendiv_" + @Model.Ride.id)">
                  @{

                      foreach (Rider item in @Model.Riders)
                      {
                          {
                              switch (item.PercentKeen)
                              {
                                  case "Out":
                                      <text>
<p><span id="@("keen_" + @item.Name + @Model.Ride.id)" style="text-decoration:line-through;" class="label label-danger">@item.Name is Out</span></p>

                            </text>
                            break;  // Always break each case
                        case "OnWay":
                        <text>
                            <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>

                        </text>
                            break;  // Always break each case
                        case "In":
                        <text>
                            <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" class="label label-success">@item.Name is in!</span></p>
                        </text>
                            break;
                    }
                }

                <p></p>
            }

        }
        </div>
        </div>
        <hr />

        <div>

            @if (@Model.Comments != null)
            {
                <h4>
                    @if (@Model.FirstComment)
                    {
                        @:<span id="CommentCount" class="label label-success glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseCommentFirst">Comments <span id="@("CommentCountSpan" + @Model.Ride.id)">(@Model.CommentCount)</span></span>
                    }
                    else
                    {
                        @:<span id="CommentCount" class="label label-success glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseCommentFirst">Comments <span id="@("CommentCountSpan" + @Model.Ride.id)">(@Model.CommentCount)</span></span>
                    }

                    @Html.ActionLink(string.Concat("View all (", @Model.CommentCount, ")"), "SeeAllComments", "Ride",
        new
        {
            RideId = @Model.Ride.id,
            Groupid = @Model.Group.id,
            FromFavPage = @Model.FromFavPage
        },
        new { @class = "btn btn-success", onclick = "ShowProgress();", id = string.Concat("CommentCountSpanSeeAll", @Model.Ride.id.ToString()) })
                    <span id="@("CommentCountSpan" + @Model.Ride.id)">
                </h4>

                if (@Model.FirstComment)
                {
                    @:<div id="collapseCommentFirst" class="panel-collapse collapse in">
    }       
                else
                {
                    @:<div id="collapseCommentFirst" class="panel-collapse collapse">
    }
    @:<div id="@("collapseCommentPanel" + @Model.Ride.id)">
        foreach (Comment item in Model.Comments)
        {

        @item.userName <text>: </text>
        @item.CommentText
        @:<p></p>
        }
        }
    </div>
    </div>
    </div>
            <div>

                @using (Ajax.BeginForm("AddComment", "Ride", new
                {
                    groupid = @Model.Group.id,
                    rideid = @Model.Ride.id,
                    FromFavPage = @Model.FromFavPage,
                    ParentRideID = @Model.Ride.id
                }, new AjaxOptions
        {
           HttpMethod = "Post",
           OnSuccess = "CommentComplete",
           OnBegin = "ShowProgress"            
        }) )
        {    
                    <div class="input-group">
                        @Html.TextBox("CommentString", null, new { @class = "form-control-C", id = "CommentStringFirst" })
                        <span class="input-group-addon-C">
                            <button class="btn btn-success" id="@("submit_First")" type="submit">Add comment</button>
                        </span>
                    </div>
                }

            </div>
    <hr />

    <h4><span class="label label-success">You in?</span></h4>

    @if (!@Model.InFirst)
    {
        if (!@Model.OnWayFirst)
        {
            @Html.ActionLink("I'm In!", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "In", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-primary", onclick = "ShowProgress();", @id = "InFirst" })
        }
    }
    @if (!@Model.OutFirst)
    {
        @Html.ActionLink("I'm Out", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "Out", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-danger", onclick = "ShowProgress();", @id = "OutFirst" })
    }
    @if (!@Model.OnWayFirst)
    {
        if (!@Model.OutFirst)
        {
            @Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "OnWay", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-success", onclick = "ShowProgress();", @id = "OnWayFirst" })
        }
    }
    <p></p>

</div> @*div for end of first collapse*@


@*-------------------------------------------------Start of Next Ride -------------------------------------------------------------*@

<hr />

<p>
    <h4>
        @if (@Model.SecondBunch)
        {
       
            <span class="label label-primary" data-toggle="collapse" href="#collapseSecond">
                <span class="glyphicon glyphicon-chevron-down" id="SecondDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.NextRide.RideDate.ToLongDateString() @Html.Raw(",") @Model.NextRide.RideDate.ToShortTimeString()
            </span>
     
        }
        else
        {
      
            <span class="label label-primary" data-toggle="collapse" href="#collapseSecond">
                <span class="glyphicon glyphicon-chevron-up" id="SecondDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.NextRide.RideDate.ToLongDateString() @Html.Raw(",") @Model.NextRide.RideDate.ToShortTimeString()
            </span>
  
        }
    </h4>
    <hr />

    @if (@Model.SecondBunch)
    {
        @:<div id="collapseSecond" class="panel-collapse collapse in">
        }
    else
    {
        @:<div id="collapseSecond" class="panel-collapse collapse">
            }


    <h4>

        @if (@Model.SecondKeen)
        {
            @:<span id="KeenCountSecond" data-toggle="collapse" href="#collapseKeenSecond" class="label label-success glyphicon glyphicon-chevron-up">Keen <span id="@("KeenCountSpan" + @Model.NextRide.id)">(@Model.NextKeenCount.ToString())</span></span>
        }
        else
        {
            @:<span id="KeenCountSecond" data-toggle="collapse" href="#collapseKeenSecond" class="label label-success glyphicon glyphicon-chevron-down">Keen <span id="@("KeenCountSpan" + @Model.NextRide.id)">(@Model.NextKeenCount.ToString())</span></span>
        }

    </h4>

    @if (@Model.SecondKeen)
    {
        @:<div id="collapseKeenSecond" class="panel-collapse collapse in">
    }
    else
    {
        @:<div id="collapseKeenSecond" class="panel-collapse collapse">
    }

              <div id="@("keendiv_" + @Model.NextRide.id)">
                  @{

                      foreach (Rider item in @Model.NextRiders)
                      {
                          {
                              switch (item.PercentKeen)
                              {
                                  case "Out":
                                      <text>
<p><span id="@("keen_" + @item.Name + @Model.NextRide.id)" style="text-decoration:line-through;" class="label label-danger">@item.Name is Out</span></p>

                            </text>
                            break;  // Always break each case
                        case "OnWay":
                        <text>
                            <p><span id="@("keen_" + @item.Name + @Model.NextRide.id)" class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>

                        </text>
                            break;  // Always break each case
                        case "In":
                        <text>
                            <p><span id="@("keen_" + @item.Name + @Model.NextRide.id)" class="label label-success">@item.Name is in!</span></p>
                        </text>
                            break;
                    }
                }

                <p></p>
            }

        }
        </div>
        </div>
        <hr />

        <div>

            @if (@Model.NextComments != null)
            {
                <h4>

                    @if (@Model.SecondComment)
                    {
                        @:<span id="CommentCountSecond" class="label label-success glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseCommentSecond">Comments <span id="@("CommentCountSpan" + @Model.NextRide.id)">(@Model.NextCommentCount)</span></span>
                    }
                    else
                    {
                        @:<span id="CommentCountSecond" class="label label-success glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseCommentSecond">Comments <span id="@("CommentCountSpan" + @Model.NextRide.id)">(@Model.NextCommentCount)</span></span>
                    }

                </h4>

                if (@Model.SecondComment)
                {
                    @:<div id="collapseCommentSecond" class="panel-collapse collapse in">
    }
                else
                {
                    @:<div id="collapseCommentSecond" class="panel-collapse collapse">
    }
             <div id="@("collapseCommentPanel" + @Model.NextRide.id)">
                @foreach (Comment item in Model.NextComments)
                {

                    @item.userName <text>: </text>
                    @item.CommentText
                    @:<p></p>
        }
        </div>
        @Html.ActionLink(string.Concat("See all Comments (", @Model.NextCommentCount, ")"), "SeeAllComments", "Ride",
        new { RideId = @Model.Ride.id, Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage },
                     new { @class = "btn btn-success", onclick = "ShowProgress();", id = string.Concat("CommentCountSpanSeeAll", @Model.Ride.id.ToString()) })

            }
        </div>
    </div>

            <div>

                @using (Ajax.BeginForm("AddComment", "Ride", new
                {
                    groupid = @Model.Group.id,
                    rideid = @Model.NextRide.id,
                    FromFavPage = @Model.FromFavPage,
                    ParentRideID = @Model.Ride.id
                }, new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "CommentComplete",
            OnBegin = "ShowProgress"
        }))
                {
                    <div class="input-group">
                        @Html.TextBox("CommentString", null, new { @class = "form-control-C", id = "CommentStringSecond" })
                        <span class="input-group-addon-C">
                            <button class="btn btn-success" id="@("submit_Second")" type="submit">Add comment</button>
                        </span>
                    </div>
                }

            </div>
    <hr />

    <h4><span class="label label-success">You in?</span></h4>

    @if (!@Model.InSecond)
    {
        if (!@Model.OnWaySecond)
        {
            @Html.ActionLink("I'm In!", "Attend", "Ride", new { RideId = @Model.NextRide.id, commitment = "In", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-primary", onclick = "ShowProgress();", @id = "InNext" })
        }
    }
    @if (!@Model.OutSecond)
    {
        @Html.ActionLink("I'm Out", "Attend", "Ride", new { RideId = @Model.NextRide.id, Commitment = "Out", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-danger", onclick = "ShowProgress();", @id = "OutNext" })
    }
    @if (!@Model.OnWaySecond)
    {
        if (!@Model.OutSecond)
        {
            @Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.NextRide.id, Commitment = "OnWay", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-success", onclick = "ShowProgress();", @id = "OnWayNext" })
        }
    }
    <p></p>

</div> @*div for end of second collapse*@

<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        var socketId = null;

        function toggleChevron(e) {
            $(e).toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }

        function CommentComplete(data) {
            HideProgress();
            //Azure Mobile Storage

            //Comments

            var client = new WindowsAzure.MobileServiceClient(
                      "http://bunchydev.azure-mobile.net/",
                      "HIdMfCPoYsHPanowdOvYsYOnmbZbsq45"
                       );

            var item = {
                text: data.message,
                bunchid: data.rideid,
                username: data.username,
                commentcount: data.commentcount,
                channel_id: data.parentid,
                socket_id: socketId
            };
            client.getTable("Item").insert(item);

            $("#collapseCommentPanel" + data.rideid).prepend("<p>" + data.username + " : " + data.message + "</p>");
            $("#CommentCountSpan" + data.rideid).html("(" + data.commentcount + ")");
            $("#CommentCountSpanSeeAll" + data.rideid).html("View All (" + data.commentcount + ")");

            //Clear comment textbox after submit for both rides.
            $("form #CommentStringFirst").val("");
            $("form #CommentStringSecond").val("");
                     
        }

        //IDs for collapse user remember
        // 1 = FirstBunchCollapse
        // 2 = FirstKeen
        // 3 = FirstComment
        // 4 = SecondBunchCollapse
        // 5 = SecondKeen
        // 6 = SecondComment

        jQuery(document).ready(function () {

            //Pusher
            var rideId = jQuery('#RideIdHidden').val();
            var NextRideIdHidden = jQuery('#NextRideIdHidden').val();
            var pusher = new Pusher('dba777635636cbc16582');
            var channel = pusher.subscribe('BunchyRide' + rideId);
            var userName = jQuery('#RideUserNameHidden').val();
            var commentCount = jQuery('#CommentCount').val();
            var commentCountNext = jQuery('#CommentCountNext').val();
            var keenCount = jQuery('#KeenCount').val();
            var keenCountNext = jQuery('#KeenCountNext').val();

            channel.bind('New-Comments', function (data) {
                //alert('hello from pusher');
                $("#collapseCommentPanel" + data.rideid).prepend("<p>" + data.username + " : " + data.message + "</p>");
                $("#CommentCountSpan" + data.rideid).html("(" + data.commentcount + ")");
                $("#CommentCountSpanSeeAll" + data.rideid).html("View All (" + data.commentcount + ")");
            });

            pusher.connection.bind('connected', function () {
                socketId = pusher.connection.socket_id;
            });

   
            channel.bind('You-In', function (data) {
                //alert(data.message);
                if (data.message == 'In') {
                    $("#KeenCountSpan" + data.rideid).html("(" + data.keencount + ")");
                    var keenuser = "#keen_" + data.username + data.rideid;
                    if ($("#keen_" + data.username + data.rideid).length) {
                        $(keenuser).html(data.username + " is in!");
                        $(keenuser).attr('class', 'label label-success');
                        $(keenuser).css('text-decoration', 'none');
                    }
                    else {                     
                        $("#keendiv_" + data.rideid).prepend('<p><span id=keen_' + data.username + data.rideid + ' class="label label-success">'+ data.username + ' is in!</span>');
                    }                    
                }
                
                if (data.message == 'Out') {
                    var keenuser = "#keen_" + data.username + data.rideid;
                    $("#KeenCountSpan" + data.rideid).html("(" + data.keencount + ")");
                    $(keenuser).html(data.username + " is Out!");
                    $(keenuser).attr('class', 'label label-danger');
                    $(keenuser).css("text-decoration","line-through");
                }
                
                if (data.message == 'OnWay') {
                    var keenuser = "#keen_" + data.username + data.rideid;
                    $("#KeenCountSpan" + data.rideid).html("(" + data.keencount + ")");
                    $(keenuser).html(data.username + '<span class="label label-success">Left  <abbr class="timeago" title="' + moment(data.leavetime).format('MM/DD/YYYY HH:mm:ss') + '"> </abbr></span>');
                    $(keenuser).attr('class', 'label label-success');
                    $(keenuser).css("text-decoration", "none");
                    jQuery("abbr.timeago").timeago();
                }

            });
            
            //End Pusher

            jQuery("abbr.timeago").timeago();

            //Keen

            $("#InFirst").click(function () {
                alert('lll');
                var item = {
                    text: "In",
                    bunchid: rideId,
                    username: userName,
                    keencount: KeenCount,
                    socket_id: socketId
                };
                client.getTable("keen").insert(item);
            });

            $("#OutFirst").click(function () {
                var item = {
                    text: "Out",
                    bunchid: rideId,
                    username: userName,
                    keencount: KeenCount
                };
                client.getTable("keen").insert(item);
            });

            $("#OnWayFirst").click(function () {
                var item = {
                    text: "OnWay",
                    bunchid: rideId,
                    username: userName,
                    keencount: KeenCount,
                    leavetime: Date.now()
                };
                client.getTable("keen").insert(item);
            });

            $("#InNext").click(function () {
                var item = {
                    text: "In",
                    bunchid: NextRideIdHidden,
                    username: userName,
                    keencount: keenCountNext
                };
                client.getTable("keenadhoc").insert(item);
            });

            $("#OutNext").click(function () {
                var item = {
                    text: "Out",
                    bunchid: NextRideIdHidden,
                    username: userName,
                    keencount: keenCountNext
                };
                client.getTable("keenadhoc").insert(item);
            });

            $("#OnWayNext").click(function () {
                var item = {
                    text: "OnWay",
                    bunchid: NextRideIdHidden,
                    username: userName,
                    keencount: keenCountNext,
                    leavetime: Date.now()
                };
                client.getTable("keenadhoc").insert(item);
            });


            //End Azure

            //Collapse user save

            jQuery('#collapseKeenFirst').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCount');

                var data = {
                    'id': 2,
                    'collapsed': false
                };

                extendDataService.save(data);
            });

            jQuery('#collapseKeenFirst').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCount');

                var data = {
                    'id': 2,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseCommentFirst').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCount');

                var data = {
                    'id': 3,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseCommentFirst').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCount');

                var data = {
                    'id': 3,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseFirst').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#FirstDetails');

                var data = {
                    'id': 1,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseFirst').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#FirstDetails');

                var data = {
                    'id': 1,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            /////////////Second Collapse functions

            jQuery('#collapseKeenSecond').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCountSecond');

                var data = {
                    'id': 5,
                    'collapsed': false
                };

                extendDataService.save(data);
            });

            jQuery('#collapseKeenSecond').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCountSecond');

                var data = {
                    'id': 5,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseCommentSecond').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCountSecond');

                var data = {
                    'id': 6,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseCommentSecond').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCountSecond');

                var data = {
                    'id': 6,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseSecond').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#SecondDetails');

                var data = {
                    'id': 4,
                    'collapsed': false
                };

                extendDataService.save(data);

            });

            jQuery('#collapseSecond').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#SecondDetails');

                var data = {
                    'id': 4,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            //End Collapse user save 

        });

    </script>
}