@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Bunchy - Ride";
}
@Html.Hidden("RideIdHidden", @Model.Ride.id)
@Html.Hidden("GroupName",@Model.Group.name)
@Html.Hidden("GroupIdHidden", @Model.Group.id)
@Html.Hidden("NextRideIdHidden", @Model.NextRide.id)
@Html.Hidden("RideUserNameHidden", User.Identity.GetUserName())
@Html.Hidden("CommentCount", @Model.CommentCount)
@Html.Hidden("CommentCountNext", @Model.NextCommentCount)
@Html.Hidden("KeenCount", @Model.KeenCount)
@Html.Hidden("KeenCountNext", @Model.NextKeenCount)
<style>
    #map_wrapper {
        height: 200px;
    }
    #map-canvas {
        width: 100%;
        height: 100%;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<script>
    var geocoder;
    var map;
    var username = @Html.Raw(Json.Encode(User.Identity.GetUserName()));
    function initialize() {
        var startlat = @Html.Raw(Json.Encode(Model.Group.Lat));
        var startlng = @Html.Raw(Json.Encode(Model.Group.Lng));
        var markerlat = @Html.Raw(Json.Encode(Model.lat));
        var markerlng = @Html.Raw(Json.Encode(Model.lng));
        var infowindow = new google.maps.InfoWindow({});
        var startlatlng = new google.maps.LatLng(startlat, startlng);
        var mapOptions = {
            zoom: 8,
            center: startlatlng
        }
        //alert(markerlat);
        if (markerlat != null) {
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var infowindow = new google.maps.InfoWindow();
            var markerlatLng = new google.maps.LatLng(markerlat, markerlng);
            //alert(startlatlng);
            //alert(markerlatLng);
            // Creating a marker and putting it on the map
            var marker = new google.maps.Marker({
                position: markerlatLng,
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP
            });
        }
        else
        {
            $( "#map_wrapper" ).hide();      
        }      
    }
</script>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1403149849923216',
            xfbml: false,
            version: 'v2.1'
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    function fb_publish(groupid, title, desc) {
        var ridename = $('#GroupName').val();
        var obj = { method: 'feed', link: 'http://www.bunchy.com.au/Ride?groupid=' + groupid, picture: 'http://www.bunchy.com.au/Content/Images/bunchy1024.png', name: 'Keen for the ' + ridename + ' ride? Click here to let me know your keen!', description: desc, picture: 'http://www.bunchy.com.au/Content/Images/bikegroup.jpg' };
        function callback(response) { }
        FB.ui(obj, callback);
    }
</script>
<div class="row">
    <div id="map_wrapper">
        <div id="map-canvas" class="mapping"></div>
    </div>
    <div class="pull-left col-xs-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">

    @if (@Model.FromHome == "true")
    {
        @Html.ActionLink(" ", "Index", "Home", null, new { @style = "background-color: #FFF; color: #333333;", @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
    }
    else
    {      
         @Html.ActionLink(" ", "Index", "Group", null, new { @class = "glyphicon glyphicon-chevron-left", @style = "background-color: #FFF; color: #333333;", onclick = "ShowProgress();" })    
    }

    @Html.Partial("_JsonFavIcon")  

    </div>
    </div>
    <hr />
    <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
        <span class="btn btn-default col-xs-10">@Model.Group.name</span>
        <span class="btn btn-default col-xs-2" style="text-align:center;top: 0px; line-height: 1.45;">
            <span id="hideinfo@(Model.Group.id)" style="display:none;" onclick="hideinfodetails(@(Model.Group.id))" class="glyphicon glyphicon-info-sign"></span>
            @Ajax.ActionLink(" ", // <-- Text to display
                                "GetGroupDetails","Group",// <-- Action Method Name
                                         new { id = Model.Group.id },
                     new AjaxOptions
                     {
                         OnBegin = "ShowProgress()",
                         UpdateTargetId = "GroupInfo" + Model.Group.id.ToString(), // <-- DOM element ID to update
                         InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                         HttpMethod = "POST",
                         OnSuccess = "HideInfoLink(" + Model.Group.id.ToString() + ")"
                     }, new { id = "infoButton" + Model.Group.id.ToString(), @class = "glyphicon glyphicon-info-sign" })
        </span>
    </div>
    </div>
@if (@Model.IsOwner)
{
}
@if (@Model.MapUrl != null)
{
    <div class="row">
        <div class='panel-group'>
            <div class='panel panel-default'>
                <div class="SecondaryHeading panel-heading">
                    <div class="col-xs-10 col-md-11 col-sm-10">
                        Map
                        </div>
                        <div class="col-xs-1 col-md-1 col-sm-1">
                            <a class="glyphicon glyphicon glyphicon-plus" id="MapPanel" data-toggle="collapse" href="#CollapseMap"></a>
                        </div>
                    </div>
                <div class='panel-collapse collapse out' id="CollapseMap">
                    @Html.Raw(@Model.MapUrl)
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_RidePanel", Model, new ViewDataDictionary { { "position", "1" } })
@Html.Partial("_RidePanel", Model, new ViewDataDictionary { { "position", "2" } })
@section scripts{
  @Scripts.Render("http://bunchy.hoocreative.netdna-cdn.com/Scripts/jquery.timeago.js")
  @Scripts.Render("~/bundles/jqueryval")
  @Scripts.Render("~/bundles/azuremobile")
  @Scripts.Render("~/bundles/pusher")
  @Scripts.Render("~/bundles/doublejs")
}