@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

@Html.Hidden("RideIdHidden", @Model.Ride.id)

@Html.Hidden("RideUserNameHidden", User.Identity.GetUserName())
<script src="http://js.pusher.com/2.1/pusher.min.js"></script>

<h2>
    @Model.Group.name
</h2>
@if (@Model.IsOwner)
{

}

@if (@Model.MapUrl != null)
{
    @Html.Raw(@Model.MapUrl)
}
<p></p>

@if (@Model.FromFavPage)
{

    @Html.ActionLink("Back <---", "Mybunches", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })

}
else
{
    @Html.ActionLink("Back <---", "Index", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })


}

<hr />

<p>
    <h4>
        @if (@Model.FirstBunch)
        {

            <span class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                <span class="glyphicon glyphicon-chevron-down" id="FirstDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
            </span>
 
        }
        else
        {

            <span class="label label-primary" data-toggle="collapse" href="#collapseFirst">
                <span class="glyphicon glyphicon-chevron-up" id="FirstDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
            </span>

        }
    </h4>
    <hr />

    @if (@Model.FirstBunch)
    {
        @:<div id="collapseFirst" class="panel-collapse collapse in">
        }
    else
    {
        @:<div id="collapseFirst" class="panel-collapse collapse">
            }


    <h4>

        @if (@Model.FirstKeen)
        {
            @:<span id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst" class="label label-success glyphicon glyphicon-chevron-up">Keen<span id="@("KeenCountSpan"+@Model.Ride.id)">(@Model.KeenCount.ToString())</span></span>
        }
        else
        {
            @:<span id="KeenCount" data-toggle="collapse" href="#collapseKeenFirst" class="label label-success glyphicon glyphicon-chevron-down">Keen<span id="@("KeenCountSpan"+@Model.Ride.id)">(@Model.KeenCount.ToString())</span></span>
        }

    </h4>

    @if (@Model.FirstKeen)
    {
        @:<div id="collapseKeenFirst" class="panel-collapse collapse in">
    }
    else
    {
        @:<div id="collapseKeenFirst" class="panel-collapse collapse">
    }

    <div>
        @{

            foreach (Rider item in @Model.Riders)
            {
                {
                    switch (item.PercentKeen)
                    {
                        case "Out":
                            <text>
        <p><span id="@("keen_"+@item.Name)" style="text-decoration:line-through;" class="label label-danger">@item.Name is no longer in</span></p>

                            </text>
                            break;  // Always break each case
                        case "OnWay":
                        <text>
                            <p><span id="@item.Name keen" class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>

                        </text>
                            break;  // Always break each case
                        case "In":
                        <text>
                            <p><span id="@item.Name keen" class="label label-success">@item.Name is in!</span></p>
                        </text>
                            break;
                    }
                }

                <p></p>
            }

        }
        </div>
        </div>
        <hr />

        <div>

            @if (@Model.Comments != null)
            {
                <h4>


                    @if (@Model.FirstComment)
                    {
                        @:<span id="CommentCount" class="label label-success glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseCommentFirst">Comments <span id="@("CommentCountSpan" + @Model.Ride.id)">(@Model.CommentCount)</span></span>
                    }
                    else
                    {
                        @:<span id="CommentCount" class="label label-success glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseCommentFirst">Comments <span id="@("CommentCountSpan" + @Model.Ride.id)">(@Model.CommentCount)</span></span>
                    }

                    @Html.ActionLink(string.Concat("View all (", @Model.CommentCount, ")"), "SeeAllComments", "Ride",
        new
        {
            RideId = @Model.Ride.id,
            Groupid = @Model.Group.id,
            FromFavPage = @Model.FromFavPage
        },
        new { @class = "btn btn-success", onclick = "ShowProgress();", id = string.Concat("CommentCountSpanSeeAll", @Model.Ride.id.ToString()) })
                    <span id="@("CommentCountSpan" + @Model.Ride.id)">
                </h4>

                if (@Model.FirstComment)
                {
                    @:<div id="collapseCommentFirst" class="panel-collapse collapse in">
    }
                else
                {
                    @:<div id="collapseCommentFirst" class="panel-collapse collapse">
    }

                foreach (Comment item in Model.Comments)
                {

                    @item.userName <text>: </text>
                    @item.CommentText
                    @:<p></p>
        }
            }
        </div>
    </div>
    <div>

        @using (Html.BeginForm("AddComment", "Ride", new
        {
            groupid = @Model.Group.id,
            rideid = @Model.Ride.id,
            FromFavPage = @Model.FromFavPage,
            ParentRideID = @Model.Ride.id
        }, FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBox("CommentString", null, new { @class = "form-control-C" })
                <span class="input-group-addon-C">
                    <button class="btn btn-success" onclick="ShowProgress();" id="submit" type="submit">Add comment</button>
                </span>
            </div>
        }

    </div>

    <hr />

    <h4><span class="label label-success">You in?</span></h4>

    @if (!@Model.InFirst)
    {
        if (!@Model.OnWayFirst)
        {
            @Html.ActionLink("I'm In!", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "In", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-primary", onclick = "ShowProgress();" })
        }
    }
    @if (!@Model.OutFirst)
    {
        @Html.ActionLink("I'm Out", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "Out", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-danger", onclick = "ShowProgress();" })
    }
    @if (!@Model.OnWayFirst)
    {
        if (!@Model.OutFirst)
        {
            @Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "OnWay", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id }, new { @class = "btn btn-success", onclick = "ShowProgress();" })
        }
    }
    <p></p>

</div> @*div for end of first collapse*@


@*-------------------------------------------------Start of Next Ride -------------------------------------------------------------*@

<hr />

<p>
    <h4>
        @if (@Model.SecondBunch)
        {
       
            <span class="label label-primary" data-toggle="collapse" href="#collapseSecond">
                <span class="glyphicon glyphicon-chevron-down" id="SecondDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.NextRide.RideDate.ToLongDateString() @Html.Raw(",") @Model.NextRide.RideDate.ToShortTimeString()
            </span>
     
        }
        else
        {
      
            <span class="label label-primary" data-toggle="collapse" href="#collapseSecond">
                <span class="glyphicon glyphicon-chevron-up" id="SecondDetails" data-toggle="collapse" href="#collapseFirst">
                </span>
                @Model.NextRide.RideDate.ToLongDateString() @Html.Raw(",") @Model.NextRide.RideDate.ToShortTimeString()
            </span>
  
        }
    </h4>
    <hr />

    @if (@Model.SecondBunch)
    {
        @:<div id="collapseSecond" class="panel-collapse collapse in">
        }
    else
    {
        @:<div id="collapseSecond" class="panel-collapse collapse">
            }


    <h4>

        @if (@Model.SecondKeen)
        {
            @:<span id="KeenCountSecond" data-toggle="collapse" href="#collapseKeenSecond" class="label label-success glyphicon glyphicon-chevron-up">Keen <span id="@("KeenCountSpan" + @Model.NextRide.id)">(@Model.NextKeenCount.ToString())</span></span>
        }
        else
        {
            @:<span id="KeenCountSecond" data-toggle="collapse" href="#collapseKeenSecond" class="label label-success glyphicon glyphicon-chevron-down">Keen <span id="@("KeenCountSpan" + @Model.NextRide.id)">(@Model.NextKeenCount.ToString())</span></span>
        }

    </h4>

    @if (@Model.SecondKeen)
    {
        @:<div id="collapseKeenSecond" class="panel-collapse collapse in">
    }
    else
    {
        @:<div id="collapseKeenSecond" class="panel-collapse collapse">
    }

    <div>
        @{

            foreach (Rider item in @Model.NextRiders)
            {
                {
                    switch (item.PercentKeen)
                    {
                        case "Out":
                            <text>
       <p><span style="text-decoration:line-through;" class="label label-danger">@item.Name is no longer in</span></p>

                            </text>
                            break;  // Always break each case
                        case "OnWay":
                        <text>
                            <p><span class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>

                        </text>
                            break;  // Always break each case
                        case "In":
                        <text>
                            <p><span class="label label-success">@item.Name is in!</span></p>
                        </text>
                            break;
                    }
                }

                <p></p>
            }

        }
        </div>
        </div>
        <hr />

        <div>

            @if (@Model.NextComments != null)
            {
                <h4>


                    @if (@Model.SecondComment)
                    {
                        @:<span id="CommentCountSecond" class="label label-success glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseCommentSecond">Comments <span id="@("CommentCountSpan" + @Model.NextRide.id)">(@Model.NextCommentCount)</span></span>
                    }
                    else
                    {
                        @:<span id="CommentCountSecond" class="label label-success glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseCommentSecond">Comments <span id="@("CommentCountSpan" + @Model.NextRide.id)">(@Model.NextCommentCount)</span></span>
                    }

                </h4>

                if (@Model.SecondComment)
                {
                    @:<div id="collapseCommentSecond" class="panel-collapse collapse in">
    }
                else
                {
                    @:<div id="collapseCommentSecond" class="panel-collapse collapse">
    }

                foreach (Comment item in Model.NextComments)
                {

                    @item.userName <text>: </text>
                    @item.CommentText
                    @:<p></p>
        }

        @Html.ActionLink(string.Concat("See all Comments (", @Model.NextCommentCount, ")"), "SeeAllComments", "Ride",
        new { RideId = @Model.Ride.id, Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage },
                     new { @class = "btn btn-success", onclick = "ShowProgress();", id = string.Concat("CommentCountSpanSeeAll", @Model.Ride.id.ToString()) })

            }
        </div>
    </div>
    <div>

        @using (Html.BeginForm("AddComment", "Ride", new
        {
            groupid = @Model.Group.id,
            rideid = @Model.NextRide.id,
            FromFavPage = @Model.FromFavPage,
            ParentRideID = @Model.Ride.id
        }, FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBox("CommentString", null, new { @class = "form-control-C" })
                <span class="input-group-addon-C">
                    <button class="btn btn-success" onclick="ShowProgress();" id="submit" type="submit">Add comment</button>
                </span>
            </div>
        }

    </div>

    <hr />

    <h4><span class="label label-success">You in?</span></h4>

    @if (!@Model.InSecond)
    {
        if (!@Model.OnWaySecond)
        {
            @Html.ActionLink("I'm In!", "Attend", "Ride", new { RideId = @Model.NextRide.id, commitment = "In", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id },new { @class = "btn btn-primary", onclick = "ShowProgress();" })
        }
    }
    @if (!@Model.OutSecond)
    {
        @Html.ActionLink("I'm Out", "Attend", "Ride", new { RideId = @Model.NextRide.id, Commitment = "Out", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id },new { @class = "btn btn-danger", onclick = "ShowProgress();" })
    }
    @if (!@Model.OnWaySecond)
    {
        if (!@Model.OutSecond)
        {
            @Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.NextRide.id, Commitment = "OnWay", Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage, ParentRideID = @Model.Ride.id },new { @class = "btn btn-success", onclick = "ShowProgress();" })
        }
    }
    <p></p>

</div> @*div for end of second collapse*@

<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")

    <script>

        function toggleChevron(e) {
            $(e).toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }

        //IDs for collapse user remember
        // 1 = FirstBunchCollapse
        // 2 = FirstKeen
        // 3 = FirstComment
        // 4 = SecondBunchCollapse
        // 5 = SecondKeen
        // 6 = SecondComment

        jQuery(document).ready(function () {

            //Pusher
            var rideId = jQuery('#RideIdHidden').val();
            var pusher = new Pusher('dba777635636cbc16582');
            var channel = pusher.subscribe('BunchyRide' + rideId);
            var userName = jQuery('#RideUserNameHidden').val();

            channel.bind('New-Comments', function (data) {
                //First Bunch Comments
                $("#collapseComment" + data.rideid).prepend("<p>" + data.username + " : " + data.message + "</p>");
                $("#CommentCountSpan" + data.rideid).html("(" + data.commentcount + ")");
                $("#CommentCountSpanSeeAll" + data.rideid).html("View All (" + data.commentcount + ")");

            });

            channel.bind('You-In', function (data) {
                //First Bunch Keen
                //alert(data.message);
                if (data.message == 'In') {
                    var keenuser = "#keen_" + data.username;
                    $("#KeenCountSpan" + data.rideid).html("(" + data.keencount + ")");
                    $(keenuser).html(data.username + "is in!");
                    $(keenuser).attr('class', 'label label-success');

                }

                if (data.message == 'Out') {
                    var keenuser = "#keen_" + data.username;
                    $("#KeenCountSpan" + data.rideid).html("(" + data.keencount + ")");
                    $(keenuser).html(data.username + "is Out!");
                    $(keenuser).attr('class', 'label label-danger');
                }

                if (data.message == 'OnWay') {
                    var keenuser = "#keen_" + data.username;
                    $("#KeenCountSpan" + data.rideid).html("(" + data.keencount + ")");
                    $(keenuser).html(data.username + "is On the Way!");
                    $(keenuser).attr('class', 'label label-success');
                }

            });

            //End Pusher

            jQuery("abbr.timeago").timeago();

            jQuery('#collapseKeenFirst').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCount');

                var data = {
                    'id': 2,
                    'collapsed': false
                };

                extendDataService.save(data);
            });

            jQuery('#collapseKeenFirst').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCount');

                var data = {
                    'id': 2,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseCommentFirst').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCount');

                var data = {
                    'id': 3,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseCommentFirst').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCount');

                var data = {
                    'id': 3,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseFirst').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#FirstDetails');

                var data = {
                    'id': 1,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseFirst').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#FirstDetails');

                var data = {
                    'id': 1,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            /////////////Second Collapse functions

            jQuery('#collapseKeenSecond').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCountSecond');

                var data = {
                    'id': 5,
                    'collapsed': false
                };

                extendDataService.save(data);
            });

            jQuery('#collapseKeenSecond').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#KeenCountSecond');

                var data = {
                    'id': 5,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseCommentSecond').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCountSecond');

                var data = {
                    'id': 6,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseCommentSecond').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#CommentCountSecond');

                var data = {
                    'id': 6,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

            jQuery('#collapseSecond').on('hidden.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#SecondDetails');

                var data = {
                    'id': 4,
                    'collapsed': false
                };

                extendDataService.save(data);


            });

            jQuery('#collapseSecond').on('shown.bs.collapse', function (event) {
                event.stopPropagation();
                toggleChevron('#SecondDetails');

                var data = {
                    'id': 4,
                    'collapsed': true
                };

                extendDataService.save(data);

            });

        });

    </script>
}