@model FreeWheeling.UI.Models.RideModelIndex
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>
    @Model.Group.name
</h2>

@if (@Model.MapUrl != null)
{
    @Html.Raw(@Model.MapUrl)
}
<p></p>

@Html.ActionLink("Back <---", "Index", "Group", null, new { @class = "btn btn-info" })

@Html.ActionLink("<-- Previous bunch", "Index", "Ride", new { RideId = @Model.PreviousRide.id, Groupid = @Model.Group.id, FromFavPage = @Model.FromFavPage }, new { @class = "btn btn-default" })
<hr />

<p></p>

@*<h2 class="text-left"><span class="label label-primary">@Model.Ride.RideDate.DayOfWeek Ride for @Model.Group.name</span></h2>*@

<h4>
    <span class="label label-primary">
        @*@Model.RideDate.Day @Model.RideDate.ToString("MMMM")*@

        @Model.Ride.RideDate.ToLongDateString() @Html.Raw(",") @Model.Ride.RideDate.ToShortTimeString()
    </span>
</h4>

<hr />

<h4><span class="label label-success">Peeps</span></h4>

<p></p>

@{

     foreach (Rider item in @Model.Riders)
    {     
        {
        switch (item.PercentKeen)
        {
        case "OnWay":
            <text>
                <p><span class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>
                
            </text>
            break;  // Always break each case
        case "Out":
            <text>
                <p><span class="label label-danger">@item.Name is a slacker!</span></p>
            </text>
            break;
        case "In":
            <text>
                <p><span class="label label-success">@item.Name is in!</span></p>
            </text>
            break;                   
    }
}        
       <p></p>       
    }
       
}
<hr />

<div>

    @if (@Model.Comments != null)
    {
    <h4><span class="label label-success">Comments</span></h4>
        
        foreach (Comment item in Model.Comments)
        {

            @item.Date.ToShortDateString() @Html.Raw(" ")  @item.Date.ToShortTimeString() @Html.Raw(" ")
        @item.userName <text>: </text>
        @item.CommentText
        @:<p></p>

        }

    }

</div>


@Html.ActionLink("Add Comment", "AddCommentNext", "Ride", new { RideId = @Model.Ride.id, Groupid = @Model.Group.id, PreviousRideID = @Model.PreviousRide.id }, new { @class = "btn btn-success" })

<hr />

<h4><span class="label label-success">Actions</span></h4>

<p></p>
@Html.ActionLink("I'm In!", "Attend", "Ride", new { RideId = @Model.Ride.id, commitment = "In", Groupid = @Model.Group.id }, new { @class = "btn btn-primary" })

<p></p>
@Html.ActionLink("I'm Out", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "Out", Groupid = @Model.Group.id }, new { @class = "btn btn-danger" })

<p></p>
@Html.ActionLink("On My Way!", "Attend", "Ride", new { RideId = @Model.Ride.id, Commitment = "OnWay", Groupid = @Model.Group.id }, new { @class = "btn btn-success" })

<p></p>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    <script>

        jQuery(document).ready(function () {
            jQuery("abbr.timeago").timeago();
        });

    </script>
}