@model FreeWheeling.UI.Models.AllRideComments
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "See All Comments";
}

@if (@Model.PreviousID != -1)
{
    @Html.ActionLink(" ", "Index", "Ride", new { RideId = @Model.PreviousID, Groupid = @Model.GroupId }, new { @class = "glyphicon glyphicon-chevron-left", @style = "background-color: #FFF; color: #333333;", onclick = "ShowProgress();" })
}
else
{
    @Html.ActionLink(" ", "Index", "Ride", new { RideId = @Model.RideId, Groupid = @Model.GroupId }, new { @class = "glyphicon glyphicon-chevron-left", @style = "background-color: #FFF; color: #333333;", onclick = "ShowProgress();" })
}


<h2>All Comments</h2>

@foreach (Comment item in @Model.Comments)
{
  @item.userName @Html.Raw(":")  @item.CommentText
    <p></p>
}
@section scripts{
<script>
    jQuery(document).ready(function () {
        HideProgress();
    });
</script>
}
