@model FreeWheeling.UI.Models.AllRideComments
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "See All Comments";
}

@Html.ActionLink("<-- Back to Ride", "Index", "Ride", new { RideId = @Model.RideId, Groupid = @Model.GroupId }, new { @class = "btn btn-default" })

<h2>All Comments</h2>

@foreach (Comment item in @Model.Comments)
{
  @item.userName @Html.Raw(":")  @item.CommentText
    <p></p>
}