@model FreeWheeling.UI.Models.AllAdHocRideComments
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "See All Ad Hoc Comments";
}

@Html.ActionLink("<-- Back to Ride", "ViewAdHocRide", "Ride", new { adhocrideid = @Model.adhocrideid }, new { @class = "btn btn-default" })

<h2>All Comments</h2>

@foreach (AdHocComment item in @Model.Comments)
{
  @item.userName @Html.Raw(":")  @item.CommentText
    <p></p>
}