@model FreeWheeling.UI.Models.AllAdHocRideComments
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "See All Ad Hoc Comments";
}

@Html.ActionLink("<-- Back to Ad Hoc Bunch", "ViewAdHocRide", "Ride", new { adhocrideid = @Model.adhocrideid }, new { @class = "btn btn-default", onclick = "ShowProgress();" })

<h2>All Comments</h2>

@foreach (AdHocComment item in @Model.Comments)
{
  @item.userName @Html.Raw(":")  @item.CommentText
    <p></p>
}

<div class="loading" style="display:none;" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            HideProgress();
        });
    </script>
}