@model FreeWheeling.UI.Models.AdHocViewModel
@using FreeWheeling.Domain.Entities

@{
    ViewBag.Title = "ViewAdHocRide";
}

@Html.ActionLink("Back <---", "AddHocList", "Ride", null, new { @class = "btn btn-info" })

<h2>@Model.Ride.Name</h2>
<h3>Start Location: @Model.Ride.StartLocation</h3>
<h3>Start Time: @Model.Ride.RideTime</h3>

<hr />

<h4><span class="label label-success">Riders</span></h4>

@{

    foreach (AdHocRider item in @Model.Riders)
    {

        {
            switch (item.PercentKeen)
            {
                case "OnWay":
                    <text>
                        <p><span class="label label-success">@item.Name is on the way! Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>

                    </text>
                    break;  // Always break each case
                case "CantMake":
                <text>
                    <p><span class="label label-danger">@item.Name is a slacker!</span></p>
                </text>
                    break;
                case "Different":
                <text>
                    <p><span class="label label-danger">@item.Name will be riding (Just not with you lot.)</span></p>
                </text>
                    break;
                default:
                <text>
                    <p><span class="label label-success">@item.Name is @item.PercentKeen % sure to be there</span></p>
                </text>
                    break;
            }
        }
        <p></p>
    }

}
<br />

<div>
<hr />
    @if (@Model.Comments != null)
    {
        <h4><span class="label label-success">Comments</span> 
        @Html.ActionLink("+", "AddAdHocComment", "Ride", new { adhocrideid = @Model.Ride.id }, new { @class = "btn btn-success" })
        
    
    </h4>

        foreach (AdHocComment item in Model.Comments)
        {

            @*@item.Date.ToShortDateString() @Html.Raw(" ")  @item.Date.ToShortTimeString() @Html.Raw(" ")*@
            @item.userName <text>: </text>
            @item.CommentText
            @:<p></p>

        }
        
        @Html.ActionLink(string.Concat("See all Comments (", @Model.CommentCount, ")"), "SeeAllAdHocComments", "Ride", new { adhocrideid = @Model.Ride.id }, new { @class = "btn btn-success" })
        
    }

</div>


<hr />

<h4><span class="label label-success">Actions</span></h4>

<p></p>
@Html.ActionLink("Will be 100% there!", "AttendAdHocRider", "Ride", new { adhocrideid = @Model.Ride.id, commitment = "100" }, new { @class = "btn btn-primary" })

<p></p>
@Html.ActionLink("I am a good chance (80%)", "AttendAdHocRider", "Ride", new { adhocrideid = @Model.Ride.id, commitment = "80" }, new { @class = "btn btn-primary" })

<p></p>
@Html.ActionLink("Will see how I feel 1 hour before (60%)", "AttendAdHocRider", "Ride", new { adhocrideid = @Model.Ride.id, Commitment = "60" }, new { @class = "btn btn-primary" })

<p></p>
@Html.ActionLink("Will be riding in a different group", "AttendAdHocRider", "Ride", new { adhocrideid = @Model.Ride.id, Commitment = "Different" }, new { @class = "btn btn-danger" })

<p></p>
@Html.ActionLink("Won't be there", "AttendAdHocRider", "Ride", new { adhocrideid = @Model.Ride.id, Commitment = "CantMake" }, new { @class = "btn btn-danger" })

<p></p>
@Html.ActionLink("On My Way!", "AttendAdHocRider", "Ride", new { adhocrideid = @Model.Ride.id, Commitment = "OnWay" }, new { @class = "btn btn-success" })

<p></p>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    <script>

        jQuery(document).ready(function () {
            jQuery("abbr.timeago").timeago();
        });

    </script>
}