@model FreeWheeling.UI.Models.SingleRideViewModel
@using FreeWheeling.Domain.Entities
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "View Single Ride";
}

@Html.Hidden("RideIdHidden", @Model.Ride.id)
@Html.Hidden("RideUserNameHidden", User.Identity.GetUserName())
@Html.Hidden("CommentCount", @Model.CommentCount)
@Html.Hidden("KeenCount", @Model.KeenCount)
@Html.Hidden("PusherChannel", @Model.PusherChannel)

@Html.ActionLink(" ", "Index", "Group", null, new { @class = "glyphicon glyphicon-chevron-left", @style = "background-color: #FFF; color: #333333;", onclick = "ShowProgress();" })

@if (@Model.MapUrl != null)
{
    @Html.Raw(@Model.MapUrl)
}
<p></p>
<h4>@Model.Ride.Group.name</h4>
<h4>@Model.Ride.RideDate.ToLongDateString()</h4>
<h4>Start Location: @Model.Ride.Group.StartLocation</h4>
<h4>Start Time: @Model.RideDate.ToShortTimeString()</h4>
<hr />
<div class="row">
    <div class="col-xs-8 col-md-11 col-sm-10">
        <a style="background-color: #FFF; color: #333333;" data-toggle="collapse" href="" class="">Keen</a>
        <a style="background-color: #FFF; color: #333333;" id="@("KeenCountSpan" + @Model.Ride.id)">(@Model.KeenCount.ToString())</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-md-11 col-sm-10" id="@("keendiv_" + @Model.Ride.id)">
        @{
            foreach (Rider item in @Model.Riders)
            {
                {
                    switch (item.PercentKeen)
                    {
                        case "Out":
                        <text>
                           <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" style="" class="">@item.Name<span style="padding-left:5px;" class="glyphicon glyphicon-thumbs-down"></span></span></p>
                        </text>
                            break;  // Always break each case
                        case "OnWay":
                        <text>
                            <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" class="">@item.Name Left <abbr class="timeago" title="@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")">@item.LeaveTime.ToString("MM/dd/yyyy HH:mm:ss")</abbr></span></p>
                        </text>
                            break;  // Always break each case
                        case "In":
                        <text>
                            <p><span id="@("keen_" + @item.Name + @Model.Ride.id)" class="">@item.Name <span style="padding-left:5px;" class="glyphicon glyphicon-thumbs-up"></span></span></p>
                        </text>
                        break;
                    }
                }
  
            }
        }
    </div>
</div>
    <div>   
        @if (@Model.Comments != null)
        {
            <div class="row">
                <div class="col-xs-8 col-md-11 col-sm-10">
                    Comments
                    <a style="background-color: #FFF; color: #333333;" id="@("CommentCountSpan" + @Model.Ride.id)">(@Model.CommentCount)</a>
                </div>
           </div> 
              @:<div id="@("collapseCommentPanel" + @Model.Ride.id)">    
            foreach (Comment item in Model.Comments)
            {
                <div class="row">
                    <div class="col-xs-8 col-md-11 col-sm-10">
                         @item.userName 
                         @item.CommentText
                    </div>  
                </div>      
            }
        @Html.ActionLink(string.Concat("View all (", @Model.CommentCount, ")"), "SeeAllComments", "Ride",
        new
        {
            RideId = @Model.Ride.id,
            Groupid = @Model.Ride.Group.id
        },
        new { @class = "btn btn-default", onclick = "ShowProgress();", id = string.Concat("CommentCountSpanSeeAll", @Model.Ride.id.ToString()) })

        } 
        </div> 
    </div>
<div>
    @using (Ajax.BeginForm("AddComment", "Ride", new
            {
                    groupid = @Model.Ride.Group.id,
                    rideid = @Model.Ride.id,
                    ParentRideID = @Model.PusherChannel
                }, new AjaxOptions
                {
                HttpMethod = "Post",
                 OnSuccess = "CommentComplete",
                OnBegin = "ShowProgress"
                }))
            {
                <div class="input-group">
                    @Html.TextBox("CommentString", null, new { @class = "form-control-C", id = "CommentStringFirst" })
                    <span class="input-group-addon-C">
                    <button class="btn btn-default" id="@("submit_First")" type="submit">Add comment</button>
                    </span>
                </div>
            }
</div>
<hr />
<h4><span class="label label-success">You in?</span></h4>

@Ajax.ActionLink("I'm In!", "AttendSingleRide",
                new { RideId = @Model.Ride.id, commitment = "In", Groupid = @Model.Ride.Group.id, ParentRideID = @Model.PusherChannel },
                 new AjaxOptions
                 {
                     HttpMethod = "POST",
                     OnSuccess = "KeenCompleteFirst",
                     OnBegin = "ShowProgress"
                 },
                 new
                 {
                     @class = "btn btn-primary",
                     onclick = "ShowProgress();",
                     @id = "InFirst"
                 })

@Ajax.ActionLink("I'm Out!", "AttendSingleRide",
                    new { RideId = @Model.Ride.id, commitment = "Out", Groupid = @Model.Ride.Group.id, ParentRideID = @Model.PusherChannel },
                 new AjaxOptions
                 {
                     HttpMethod = "POST",
                     OnSuccess = "KeenCompleteFirst",
                     OnBegin = "ShowProgress"
                 },
                      new
                      {
                          @class = "btn btn-danger",
                          onclick = "ShowProgress();",
                          @id = "OutFirst"
                      })
@Ajax.ActionLink("On My Way!", "AttendSingleRide",
                     new { RideId = @Model.Ride.id, commitment = "OnWay", Groupid = @Model.Ride.Group.id, ParentRideID = @Model.PusherChannel },
                 new AjaxOptions
                 {
                     HttpMethod = "POST",
                     OnSuccess = "KeenCompleteFirst",
                     OnBegin = "ShowProgress"
                 },
                 new
                 {
                     @class = "btn btn-success",
                     onclick = "ShowProgress();",
                     @id = "OnWayFirst"
                 })
<p></p>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/azuremobile")
    @Scripts.Render("~/bundles/pusher")
    <script>
        var socketId = null;

        function CommentComplete(data) {
            HideProgress();
            //Azure Mobile Storage

            var client = new WindowsAzure.MobileServiceClient(
                      "http://bunchydev.azure-mobile.net/",
                      "HIdMfCPoYsHPanowdOvYsYOnmbZbsq45"
                       );

            var item = {
                text: data.message,
                bunchid: data.rideid,
                username: data.username,
                commentcount: data.commentcount,
                channel_id: data.parentid,
                socket_id: socketId
            };
            client.getTable("Item").insert(item);

            UpdateCommentFields(data.message, data.rideid, data.username, data.commentcount);
        }

        function KeenCompleteFirst(data) {
            HideProgress();
            //alert(data.message);

            var client = new WindowsAzure.MobileServiceClient(
                      "http://bunchydev.azure-mobile.net/",
                      "HIdMfCPoYsHPanowdOvYsYOnmbZbsq45"
                       );

            var item = {
                text: data.message,
                bunchid: data.rideid,
                username: data.username,
                keencount: data.keencount,
                leavetime: data.leavetime,
                channel_id: data.parentid,
                socket_id: socketId
            };
            client.getTable("Keen").insert(item);

            UpdateKeenActions(data.message, data.rideid, data.keencount, data.username, data.leavetime);
        }

        jQuery(document).ready(function () {
            HideProgress();
            //Pusher
            var rideId = jQuery('#RideIdHidden').val();
            var pusherChannel = jQuery('#PusherChannel').val();
            var pusher = new Pusher('dba777635636cbc16582');
            var channel = pusher.subscribe('BunchyRide' + pusherChannel);
            var userName = jQuery('#RideUserNameHidden').val();
            var commentCount = jQuery('#CommentCount').val();
            var keenCount = jQuery('#KeenCount').val();

            channel.bind('New-Comments', function (data) {
                UpdateCommentFieldsPusher(data.message, data.rideid, data.username, data.commentcount);
            });

            pusher.connection.bind('connected', function () {
                socketId = pusher.connection.socket_id;
            });

            channel.bind('You-In', function (data) {
                //alert(data.message);
                UpdateKeenActionsPusher(data.message, data.rideid, data.keencount, data.username, data.leavetime);
            });

            //End Pusher
            jQuery("abbr.timeago").timeago();
        });
    </script>
}
