@using FreeWheeling.UI.Infrastructure.Messages;
<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>@ViewBag.Title - bunchy</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/custom")
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-51493972-1', 'bunchy.com.au');
    ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/Home/Index"><img class="nav-height" src="http://bunchy.hoocreative.netdna-cdn.com/Content/Images/bunchytag.png" /></a>

                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".user">
                    <div class="glyphicon glyphicon-user"></div></button>
            </div>
                      
            <div class="user collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="messagewrapperajax"></div>
        <div class="row">@Html.RenderMessages()</div>
        @RenderBody()
        <div class="loading" style="display:none;" align="center">
            <img src="http://bunchy.hoocreative.netdna-cdn.com/Content/Images/loader.gif" alt="" />
            @*<img src="~/Content/Images/loader.gif" alt="" />*@
        </div>
        <footer></footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/respond")
    @RenderSection("scripts", required: false)
    <script>
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload()
            }
        };
        jQuery(document).ready(function () {
            HideProgress();
            DisplayMessages();
        });
    </script>
</body>
</html>