<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - bunchy</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/custom")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/Home/Index"><img class="nav-height" src="~/Content/Images/logo_with_name.png" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".user">
                    <div class="glyphicon glyphicon-user"></div></button>
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("bunches", "Index", "Group")</li>
					<li>@Html.ActionLink("Ad Hoc bunches", "AdHocList", "Ride")</li>
				</ul>
            </div>
            <div class="user collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer></footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/respond")
    @RenderSection("scripts", required: false)
    <script>
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload()
            }
        };
    </script>
</body>
</html>
