@model FreeWheeling.UI.Models.GroupModel
@using FreeWheeling.Domain.Entities;
@using FreeWheeling.UI.Models;

@foreach (NextRideGroupbyDayOfWeekPrivate NextRideDay in Model._NextRideGroupbyDayOfWeekPrivate)
{
 <tr>
        <td>
       <b> @NextRideDay.Thedayofweek</b>
      </td>
            </tr>
foreach (int gID in NextRideDay.Groupids)
        {
            Group item = Model.PrivateBunches.Where(g => g.id == gID).FirstOrDefault();
            if (item != null)
            {
    <tr>
    <td>
            @{
            bool isMember = Model.CurrentGroupMembership.Contains(item.id);
            DateTime NextRideDate = Model._NextRideDetails.Where(g => g.GroupId == item.id).Select(g => g.Date).FirstOrDefault();
            int KeenCount = Model._NextRideDetails.Where(g => g.GroupId == item.id).Select(a => a.NumberofKeenRiders).FirstOrDefault();
            bool isCreator = Model._OwnerGroupList.Contains(item.id);
            }
    
    @if (item.Rides.Count > 0 )
                        {
                            <table style="width:100%">
                                <tr style="width:100%">
                                    <td style="width:100%">
                                        <div style="width:10%;float:left;">
                                            @Html.ActionLink(" ", "Index", "Ride", new { groupid = item.id },
                                            new { @class = "glyphicon glyphicon-search", onclick = "ShowProgress();" })
                                        </div>
                                        <div style="width:40%;float:left;">
                                            @Html.ActionLink(item.name, "Index", "Ride", new { groupid = item.id },
                                 new { @class = "boldtext", onclick = "ShowProgress();" })
                                            <br/>
                                            Keen (@KeenCount)
                                        </div>
                                        <div style="width: 10%; float: right;">
                                            <span id="hideinfo@(item.id)" style="display:none;" onclick="hideinfodetails(@(item.id))" class="glyphicon glyphicon-info-sign"></span>
                                            @Ajax.ActionLink(" ", // <-- Text to display
                                            "GetGroupDetails", // <-- Action Method Name
                                            new { id = item.id },
                                            new AjaxOptions
                                                {
                                                    OnBegin = "ShowProgress()",
                                                    UpdateTargetId = "GroupInfo" + item.id.ToString(), // <-- DOM element ID to update
                                                    InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                                                    HttpMethod = "POST",
                                                    OnSuccess = "HideInfoLink(" + item.id.ToString() + ")"
                                                }, new { id = "infoButton" + item.id.ToString(), @class = "glyphicon glyphicon-info-sign" })
                                        </div>
                                        <div style="width:10%;float:right;">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </div>

                                        @if (isMember)
                                        {

                                            <div style="width: 10%; float: right;">
                                                @Html.ActionLink(" ", "RemoveFromFavouriteList", "Group",
                                                            new { id = item.id },
                                                              new { @class = "glyphicon glyphicon-star", onclick = "ShowProgress();" })
                                            </div>

                                        }
                                        else
                                        {
                                            <div style="width: 10%; float: right;">
                                                @Html.ActionLink(" ", "Join", "Group", new { id = item.id },
                                                new { @class = "glyphicon glyphicon-star-empty", onclick = "ShowProgress();" })
                                            </div>
                                        }

                                        @if (isCreator)
                                        {
                                            <div style="width: 10%; float: right;">
                                                @Html.ActionLink(" ", "EditGroup", "Group", new { groupId = item.id },
                                                 new { @class = "glyphicon glyphicon-pencil", onclick = "ShowProgress();" })
                                            </div>
                                            <div style="width: 10%; float: right;">
                                                @Html.ActionLink(" ", "InviteOthersToPrivateBunch", "Group", new { groupId = item.id },
                                                      new { @class = "glyphicon glyphicon-user", onclick = "ShowProgress();" })
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </table>
                        }
                         else
                         {
                         <table style="width:100%">
                            <tr style="width:100%">
                               <td style="width:100%">
                                    @Html.Label(item.name)
                                    <span class="label label-danger">No Rides</span>
                               </td>
                           </tr>                             
                         </table>
                         }                 
<div class="Ginfo" id="@("GroupInfo" + @item.id)"></div>@*This is the div that gets replaced with group info*@
</td>
</tr>
    }
    }
}