@model FreeWheeling.UI.Models.AdHocCreateModel



@{
    ViewBag.Title = "Create Ad Hoc bunch";
}

<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/knockout-2.1.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/perpetuum.knockout.js"></script>
@using PerpetuumSoft.Knockout

@{
    var ko = Html.CreateKnockoutContext();
}

@Html.ActionLink("Back Home <---", "Index", "Home", null, new { @class = "btn btn-info" })

<h2>Create Ad Hoc bunch</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div><span class="RequiredField">*&nbsp;</span>bunch Name:</div>
        <div>
            @ko.Html.TextBox(m => m.Name, new { @class = "required" })
           
        </div>
    <div>
        <p></p>
        @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ),  new { @class = "form-control" }
)
        <p></p>
    </div>
    
    <div>
    </div>      
       
    <div class="span5" id="MyDateDiv"><div></div></div>

        <div><span class="RequiredField">*&nbsp;</span>Date</div>
         @Html.ValidationMessageFor(model => model.DateString)
          
        <div>
            @Html.TextBoxFor(model => model.DateString,null, new { id = "MyDate", @class = ""})
        </div>
               
        <div><span class="RequiredField">*&nbsp;</span>Hour (24 Hour)</div>
        <div>
            @Html.TextBoxFor(model => model.Hour)
            @Html.ValidationMessageFor(model => model.Hour)
        </div>
    
        <div><span class="RequiredField">*&nbsp;</span>Minute</div>
        <div>
            @Html.TextBoxFor(model => model.Minute)
            @Html.ValidationMessageFor(model => model.Minute)
        </div>
           
        <hr />
    
        <div><span class="RequiredField">*&nbsp;</span>Start Location</div>
        
        <div> 
            @Html.TextBoxFor(model => model.StartLocation)
            @Html.ValidationMessageFor(model => model.StartLocation)
        </div>
    
    <div>Description</div>
        
        <div> 
            @Html.TextAreaFor(model => model.Description)
        </div>
    
    <div>Map (Enter <a target="_blank" href="http://veloroutes.org/bikemaps/">veloroutes</a> Route Number)</div>
        
        <div> 
            @Html.TextBoxFor(model => model.MapUrl)
        </div>
         
        <div>
            <p></p>
            <table>
                <tbody>
                    @using (var InviteUsers = ko.Foreach(m => m.InviteUsers))
                    {
                        <tr><td>Find a friend</td></tr>
                        <tr>

                            <td>
                                @InviteUsers.Html.TextBox(m => m.UserName)
                        </td>
                    <td>
                       
                </td>
            </tr>
                    }
                </tbody>
            </table>
            @ko.Html.HyperlinkButton("Invite a friend", "AddUser", "Group", new { id = "fff" })
        </div>
    
    
         <div>
            <p></p>
             @ko.Html.Button("Save to JSON", "SaveJson", "Group")
             <input onclick="ShowProgress();" id="btnSubmit" type="submit" value="Create Ad Hoc bunch" />
        </div>    
}

<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>

<style scoped="scoped">
    input.error {
        border: 1px solid red;
        background-color: #FDC;
    }

    label.error {
        display: block;
        color: Red;
        font-size: 0.8em;
    }
</style>

@ko.Apply(Model)

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(function () {

        $('#MyDateDiv div').datepicker({
        }).on('changeDate', function (e) {
            $('#MyDate').val(e.format('dd/mm/yyyy'))
        });

    });

    $("form").submit(function () {
        if (!$(this).valid()) {
            HideProgress();
        }
        else {

        }
    });

</script>
}