@model FreeWheeling.UI.Models.GroupCreateModel

@{
    ViewBag.Title = "Create a bunch";
}

@Html.ActionLink("Back Home <---", "Index", "Home", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })

<h2>Create a new bunch</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div><span class="RequiredField">*&nbsp;</span>bunch Name:</div>
        <div>
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    <div>
        <p></p>
        @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ), "-- Group Location --", new { @class = "form-control" }
)
        @Html.ValidationMessageFor(model => model.LocationsId)
        <p></p>
    </div>
    
    <div>   Days Of Week</div>
        <div>
            @for (int i = 0; i < Model.DaysOfWeek.Count; i++)
            {
                <div>
                    @Html.HiddenFor(x => x.DaysOfWeek[i].Name)
                    @Html.CheckBoxFor(x => x.DaysOfWeek[i].Checked)
                    @Html.LabelFor(x => x.DaysOfWeek[i].Checked, Model.DaysOfWeek[i].Name)
                </div>
            }
        </div>
        <hr />
    <div>
        Private:
        @Html.CheckBoxFor(f  => f.IsPrivate)
    </div>
    <p></p>
    <div>Time</div>
        <div><span class="RequiredField">*&nbsp;</span>Hour (24 Hour)</div>
        <div>
            @Html.TextBoxFor(model => model.Hour, new { id="scroller" })
            @Html.ValidationMessageFor(model => model.Hour)
        </div>
    
        <div><span class="RequiredField">*&nbsp;</span>Minute</div>
        <div>
            @Html.TextBoxFor(model => model.Minute)
            @Html.ValidationMessageFor(model => model.Minute) 
        </div>
           
        <div><span class="RequiredField">*&nbsp;</span>Start Location</div>
        
        <div> 
            @Html.TextBoxFor(model => model.StartLocation)
            @Html.ValidationMessageFor(model => model.StartLocation)
        </div>
    
    <div>Description</div>
        
        <div> 
            @Html.TextAreaFor(model => model.Description)
        </div>
    
   <div>Map (Enter <a href="http://veloroutes.org/bikemaps/">veloroutes</a> Route Number)</div>
        
        <div> 
            @Html.TextBoxFor(model => model.MapUrl)
        </div>
    
        <div>
            <p></p>
            <input onclick="ShowProgress();" id="btnSubmit" type="submit" value="Create" />
        </div>
    
}

<div class="loading" style="display:none;" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/mobiscroll-2.10.1.full.min.js"></script>
<script src="~/Scripts/mobiscroll.scroller-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.scroller.android-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.scroller.ios-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.scroller.android-ics-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.scroller.ios7-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.scroller.jqm-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.scroller.wp-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.select-2.10.1.js"></script>
<script src="~/Scripts/mobiscroll.datetime-2.10.1.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        HideProgress();
    });


    $("form").submit(function () {
        if (!$(this).valid()) {
            HideProgress();
        }
        else {

        }
    });
    $(function () {
        $("#scroller").mobiscroll({ preset: 'time', theme: 'bootstrap', showLabel: false, display: 'bottom' })
    });
</script>
<link href="~/Content/mobiscroll.scroller-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll.scroller.android-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll.scroller.android-ics-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll.scroller.ios-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll.scroller.ios7-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll.scroller.jqm-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll.scroller.sense-ui-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll.scroller.wp-2.10.1.css" rel="stylesheet" />
<link href="~/Content/mobiscroll-2.10.1.full.min.css" rel="stylesheet" />
}