@model FreeWheeling.UI.Models.GroupCreateModel

@{
    ViewBag.Title = "Create a bunch";
}
<p></p>
@Html.ActionLink(" ", "Index", "Home", null, new { @style = "background-color: #FFF; color: #333333;", @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
<p></p>
<b>Create a new bunch</b>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p></p>
    <div><span class="RequiredField">*&nbsp;</span><b>bunch Name:</b></div>
        <div>
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    <div>
        <p></p>
        <div><span class="RequiredField">*&nbsp;</span><b>location:</b></div>
        @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ), "-- Group Location --", new { @class = "form-control" }
)
        @Html.ValidationMessageFor(model => model.LocationsId)
        <p></p>
    </div>
    <div><b>Days Of Week</b></div>
    <p></p>
        <div>
            @for (int i = 0; i < Model.DaysOfWeek.Count; i++)
            {
                <div>
                    @Html.HiddenFor(x => x.DaysOfWeek[i].Name)
                    @Html.CheckBoxFor(x => x.DaysOfWeek[i].Checked)
                    @Html.LabelFor(x => x.DaysOfWeek[i].Checked, Model.DaysOfWeek[i].Name)
                </div>
            }
        </div>
        <hr />
    <div>
        <b>Private:</b>
        @Html.CheckBoxFor(f  => f.IsPrivate)
    </div>
    <p></p>
    <hr />
    <div><b>Time</b></div>
    <hr />
        <div><span class="RequiredField">*&nbsp;</span><b>Hour (24 Hour)</b></div>
        <div>
            @Html.TextBoxFor(model => model.Hour, new { id="scroller" })
            @Html.ValidationMessageFor(model => model.Hour)
        </div>
        <p></p>
        <div><span class="RequiredField">*&nbsp;</span><b>Minute</b></div>
        <div>
            @Html.TextBoxFor(model => model.Minute)
            @Html.ValidationMessageFor(model => model.Minute) 
        </div>
           <p></p>
        <div><span class="RequiredField">*&nbsp;</span><b>Start Location</b></div>
        
        <div> 
            @Html.TextBoxFor(model => model.StartLocation)
            @Html.ValidationMessageFor(model => model.StartLocation)
        </div>
    <p></p>
    <div><b>Description</b></div>
        
        <div> 
            @Html.TextAreaFor(model => model.Description)
        </div>
    
   <div><b>Map</b> (Enter <a target="_blank" href="http://veloroutes.org/bikemaps/">veloroutes</a> Route Number)</div>
        
        <div> 
            @Html.TextBoxFor(model => model.MapUrl)
        </div>
    
        <div>
            <p></p>
            <input class="btn btn-default" onclick="ShowProgress();" id="btnSubmit" type="submit" value="Create" />
            
        </div>
    <p></p>
}
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    jQuery(document).ready(function () {
        HideProgress();
    });

    $("form").submit(function () {
        if (!$(this).valid()) {
            HideProgress();
        }
        else {

        }
    });
   
</script>
}