@model FreeWheeling.UI.Models.EditGroupModel
@{
    ViewBag.Title = "Edit bunch";
}

@Html.ActionLink("Back Home <---", "Index", "Group", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })

@Html.ActionLink("Delete", "DeleteGroup", "Group", new { GroupId = @Model.GroupId }, new { @class = "btn btn-default", onclick = "ShowProgress();" })


<h2>Edit bunch</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div><span class="RequiredField">*&nbsp;</span>bunch Name:</div>
    <div>
        @Html.TextBoxFor(model => model.Name)
    </div>
    <div>
        <p></p>
        @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ), "-- Group Location --", new { @class = "form-control" }
)
        <p></p>
    </div>

    <div>Days Of Week</div>
    <div>
        @for (int i = 0; i < Model.DaysOfWeek.Count; i++)
        {
            <div>
                @Html.HiddenFor(x => x.DaysOfWeek[i].Name)
                @Html.CheckBoxFor(x => x.DaysOfWeek[i].Checked, new { @disabled = "disabled" })
                @Html.LabelFor(x => x.DaysOfWeek[i].Checked, Model.DaysOfWeek[i].Name)
            </div>
        }
    </div>
    <hr />
    <div>Private</div>
    <div>@Html.CheckBoxFor(model => model.IsPrivate)</div>
    <div>Time</div>
    <div><span class="RequiredField">*&nbsp;</span>Hour (24 Hour)</div>
    <div>
        @Html.TextBoxFor(model => model.Hour)
        @Html.ValidationMessageFor(model => model.Hour)
    </div>

    <div><span class="RequiredField">*&nbsp;</span>Minute</div>
    <div>
        @Html.TextBoxFor(model => model.Minute)
        @Html.ValidationMessageFor(model => model.Minute)
    </div>

    <div><span class="RequiredField">*&nbsp;</span>Start Location</div>

    <div>
        @Html.TextBoxFor(model => model.StartLocation)
        @Html.ValidationMessageFor(model => model.StartLocation)
    </div>
    
    <div><span class="RequiredField">*&nbsp;</span>Map (Enter <a href="http://veloroutes.org/bikemaps/">veloroutes</a> Route Number)</div>
        
        <div> 
            @Html.TextBoxFor(model => model.MapUrl)
        </div>

    <div>
        <p></p>
        <input onclick="ShowProgress();" id="btnSubmit" type="submit" value="Update" />
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 
    <script type="text/javascript">
        jQuery(document).ready(function () {
            HideProgress();
        });
        $("form").submit(function () {
            if (!$(this).valid()) {
                HideProgress();
            }
            else {

            }
        });
    </script>
}