@model FreeWheeling.UI.Models.GroupModel
@using FreeWheeling.Domain.Entities 

@{
    ViewBag.Title = "Index";
}

@Html.ValidationSummary()
  
        <p class="text-left">

            @using (Html.BeginForm())
            {
            <p>
               @Html.TextBox("SearchString")
                <input onclick="ShowProgress();" type="submit" value="Search" />
            </p>
            }

            @Html.ActionLink("<--", "Index", "Home", null, new { @class = "btn btn-info", onclick = "ShowProgress();" })
            
            <p></p>
    <table class="table content-box">
    <tr>
        <th>
            <div class="btn-group col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;">
                <span class="btn col-md- btn-default">@Model.UserLocation </span>
            </div>
        </th>
    </tr>
    <tr>
        @if (@Model.PrivateBunches.Count > 0)
        {
            @Html.Partial("_ListPrivateRides")
        }
    </tr>

    @if (@Model._Groups.Count > 0)
    {
        @Html.Partial("_ListRides")
    }

    @if (@Model._Groups.Count + @Model.PrivateBunches.Count <= 0)
    {
        @Html.ActionLink("No bunches yet, please create some!", "Create", "Group",
     null, new { @class = "btn btn-default", onclick = "ShowProgress();" })
    }
</table>



<div class="loading" style="display:none;" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
<script>
    jQuery(document).ready(function () {
        HideProgress();
    });

    function HideInfoLink(GroupId) {
        $("#infoButton" + GroupId).hide();      
    }
</script>
}