@model FreeWheeling.UI.Models.GroupModel
@using FreeWheeling.Domain.Entities 

@{
    ViewBag.Title = "Index";
}

@Html.ValidationSummary()

<div class="row">
    <div class="col-md-12">      
        <p class="text-left">

            @Html.ActionLink("Back <---", "Index", "Home", null, new { @class = "btn btn-info" })

            <h3 class="text-left"><span class="label label-primary">@Model.title in @Model.UserLocation</span></h3>
                           
                @if (@Model._Groups.Count > 0 )
                {
                                     
                foreach (Group item in Model._Groups)
                {
                    
                    bool isMember = Model.CurrentGroupMembership.Contains(item.id);
                    int RiderCount = Model._NextRideDetails.Where(g => g.GroupId == item.id).Select(g => g.NumberofRiders).FirstOrDefault();

                    DateTime NextRideDate = Model._NextRideDetails.Where(g => g.GroupId == item.id).Select(g => g.Date).FirstOrDefault();

                    if (isMember)
                    {

                        @:<h3 class="text-left">
                   
                         if (item.Rides.Count > 0 )
                         {
                             @Html.ActionLink(item.name, "Index", "Ride", new { groupid = item.id }, new { @class = "btn btn-default" }) 
                             @Html.ActionLink(string.Concat("View ", NextRideDate.DayOfWeek, " Ride"), "Index", "Ride", new { groupid = item.id }, new { @class = "btn btn-success" })
                             @*@Html.ActionLink(string.Concat("View Rides (", RiderCount, " 100% Rider/s for ", NextRideDate.DayOfWeek, ")"), "Index", "Ride", new { groupid = item.id }, new { @class = "btn btn-success" })*@                           
                        @:</h3> 
                             
                         }
                         else
                         {
                               @Html.Label(item.name)
                              @:<span class="label label-danger">No Rides</span>
                             
                         }
                                               
                         @Html.ActionLink("Remove from favourites", "RemoveFromFavouriteList", "Group", new { id = item.id, title = @Model.title  }, new { @class = "btn btn-danger" })
                          
                    }
                    else
                    {
                 
                    @:<h3 class="text-left">
                            
                         if (item.Rides.Count > 0 )
                         {
                            
                             @Html.ActionLink(item.name, "Index", "Ride", new { groupid = item.id }, new { @class = "btn btn-default" }) 
                             @Html.ActionLink(string.Concat("View ", NextRideDate.DayOfWeek, " Ride"), "Index", "Ride", new { groupid = item.id }, new { @class = "btn btn-success" })
                             @*@Html.ActionLink(string.Concat("View Rides (", RiderCount, " 100% Rider/s for ", NextRideDate.DayOfWeek, ")"), "Index", "Ride", new { groupid = item.id }, new { @class = "btn btn-success" })*@                           
                                   
                         }
                         else
                         {
                             @Html.Label(item.name)
                              @:<span class="label label-danger">No Rides</span>
                             
                         }
                                                           
                       @:<button type="button" class="btn btn-default btn-lg">  
                    @Html.ActionLink(" ", "Join", "Group", new { id = item.id, title = @Model.title }, new { @class = "glyphicon glyphicon-star" })
                     @:</button></h3>
                    }
                    isMember = false;
                                       
                    @Ajax.ActionLink(" ", // <-- Text to display
                     "GetGroupDetails", // <-- Action Method Name
                 new { id = item.id },
                 new AjaxOptions
                 {
                     UpdateTargetId = "GroupInfo"+item.id.ToString(), // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "POST",
                     OnSuccess = "HideInfoLink"
                 }, new { @class = "glyphicon glyphicon-info-sign" })
                   
                <div class="Ginfo" id="@("GroupInfo" + @item.id)"></div>/*This is the div that gets replaced with group info*/

                }
                }
                else
                {
                    if (@Model.title == "Favourite Groups")
                    {
                      @Html.ActionLink("You dont have any favourite groups! Get some!", "Index", "Group", null, new { @class = "btn btn-default" })                   
                    }
                    else
                    {
                        
                      @Html.ActionLink("No Groups yet, please create some!", "Create", "Group", null, new { @class = "btn btn-default" }) 
                        
                    }
                    
                }

</p>
</div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
<script>
    
    function HideInfoLink(){
        //alert("hello");
    }
  
</script>
}