@model FreeWheeling.UI.Models.GroupModel
@using FreeWheeling.Domain.Entities 

@{
    ViewBag.Title = "Index";
}

@Html.ValidationSummary()
  
@using (Html.BeginForm())
{
     <p></p>
    <div class="container-fluid">
        <div class="pull-left">
            @Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
        </div>
        <div class="pull-right" style="padding-left:10px">
            <input onclick="ShowProgress();" type="submit" class="pull-right btn btn-default" value="Go" />
        </div>
        <div class="pull-right">
            @Html.TextBox("SearchString", null, new { @class = "pull-right form-control", @placeholder = "Search" })
        </div>
    </div>

}         
    <p></p>
    <table class="table content-box">
    <tr>
        <th >
            <div class="btn-group col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
                <span class="btn btn-default btn-block">@Model.UserLocation </span>
            </div>
        </th>
    </tr>
    <tr>
        @if (@Model.PrivateBunches.Count > 0)
        {
            @Html.Partial("_ListPrivateRides")
        }
    </tr>
        <tr>
            @if (@Model._Groups.Count > 0)
            {
                @Html.Partial("_ListRides")
            }
        </tr>
        <tr>
            @if (@Model._Groups.Count + @Model.PrivateBunches.Count <= 0)
{
    <td>
        <div class="btn-group col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
            @Html.ActionLink("No bunches yet, please create some!", "Create", "Group",
                  null, new { @class = "btn btn-default btn-block", onclick = "ShowProgress();" })
            </div>
</td>
}
        </tr>
</table>

<div class="loading" style="display:none;" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
<script>
    jQuery(document).ready(function () {
        HideProgress();
    });

    function HideInfoLink(GroupId) {
        $("#infoButton" + GroupId).hide();      
    }
</script>
}