@model FreeWheeling.UI.Models.GroupModel
@using FreeWheeling.Domain.Entities 

@{
    ViewBag.Title = "Index";
}

@Html.ValidationSummary()
  
@using (Html.BeginForm())
{
     <p></p>
     @Html.ActionLink(" ", "Index", "Home", null, new {  @style = "background-color: #FFF; color: #333333;", @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
    <div class="container-fluid">
        <div class="pull-right" style="padding-left:10px">
            <input onclick="ShowProgress();" type="submit" class="pull-right btn btn-default" value="Go" />
        </div>
        <div class="pull-right">
            @Html.TextBox("SearchString", null, new { @class = "pull-right form-control", @placeholder = "Search" })
        </div>
    </div>
}         
    <p></p>
<div class="row">
    <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
        <span class="btn btn-default btn-block">@Model.UserLocation</span>
    </div>
</div>
    <table class="table content-box">
    <tr>
        @if (@Model.PrivateBunches.Count > 0)
        {
            @Html.Partial("_ListPrivateRides")
        }
    </tr>
        <tr>
            @if (@Model._Groups.Count > 0)
            {
                @Html.Partial("_ListRides")
            }
        </tr>
        <tr>
            @if (@Model._Groups.Count + @Model.PrivateBunches.Count <= 0)
            {
        <td>
                <div class="btn-group col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
                @Html.ActionLink("No bunches yet, please create some!", "Create", "Group",
                null, new { @class = "btn btn-default btn-block", onclick = "ShowProgress();" })
                </div>
        </td>
            }
        </tr>
</table>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
<script>
    jQuery(document).ready(function () {
        HideProgress();
    });

    function HideInfoLink(GroupId) {
        $("#infoButton" + GroupId).hide();      
    }
</script>
}