@model FreeWheeling.UI.Models.InviteOthersToPrivateBunchModel
@{
    ViewBag.Title = "InviteOthersToPrivateBunch";
}

<div class="row">
    @Html.ActionLink(" ", "Index", "Ride", new { groupid = @Model.GroupId }, new { @class = "glyphicon glyphicon-chevron-left", @style = "background-color: #FFF; color: #333333;", onclick = "ShowProgress();" })
    <p></p>
        <span class="btn btn-default btn-block">
            Invite Others : @Model.Name
        </span>
    <p></p>
    <p>Hit the <b>Select a person</b> button to invite your first person.</p><p><b>Note:</b> Hit the select a person button each time you wish to add another person to this private bunch</p>
    <p>When done hit the Send Invites button.</p>
    <div id="templated">
        @Html.HiddenFor(model => model.GroupId, new { @id = "GroupIdHidden" })
        <table>
            <tbody data-bind="template: { name: 'userRowTemplate', foreach: usersLines }"></tbody>
        </table>
        <script type="text/html" id="userRowTemplate">
            <tr>
                <td>
                    Enter Bunchy user name or a valid email address <p></p> 
                    <div data-bind="validationElement: UserName">
                        <input placeholder="Bunchy username or email" class="form-control" id="InviteUser" data-bind="value: UserName, valueUpdate:'blur'" />
                        </div>
                        <p></p>
                        <b>Hit Select a user again to invite another person!</b>
                        <p></p>
                </td>
            </tr>
        </script>
        <p></p>
        <span><button class="btn btn-default btn-sm" data-bind="click: addUser">Select a person</button></span>
        <span><input class="btn btn-default btn-sm" onclick="ShowProgress();" data-bind="click: save" id="btnSubmit" type="submit" value="Send Invites" /></span>
        @* Need to keep cancel button here as this page is used with private create bunch*@
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default btn-sm", onclick = "ShowProgress();" })
        <span></span>
        <p></p>
        <div>
            <p></p>
            
        </div>
        <p></p>
    </div>
</div>
@section Scripts {

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/knockoutvalidation")
@Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

    $('body').on('focus', "#InviteUser", function () {
        $(this).autocomplete({
            source: '@Url.Action("GetNames","Group")'
        });
    })
        ko.validation.init({
            errorElementClass: 'has-error',
            errorMessageClass: 'help-block',
            decorateElement: true
        });

    function UserModel() {
        var self = this;
        //uncomment below when able to remove add user boxes
        //self.UserName = ko.observable().extend({ required: true });
        self.UserName = ko.observable();

    }

    var GroupModel = function () {
        var self = this;
        self.usersLines = ko.observableArray([]);
        self.addUser = function () {
            self.usersLines.push(new UserModel);
        };

        self.save = function () {
            GroupData = {
                InviteUsers: self.usersLines(),
                GroupId: $('#GroupIdHidden').val()
            };

            var errors = ko.validation.group(GroupData, { deep: true });
            errors.showAllMessages();
            if (errors().length > 0) {
                // something went wrong - you should see the error messages
                displayMessageAjax("Errors! Please fix and try again.", "error", "BottomCentre", "tempoarayMessage");
                HideProgress();
                return;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("InviteOthersToPrivateBunch", "Group")',
                data: ko.toJSON(GroupData), //Convert the Observable Data into JSON
                contentType: "application/json",
                success: function (data, textStatus, jqXHR) {
                    var err = eval("(" + jqXHR.responseText + ")");
                    if (data.success == false) {
                        alert(err.Message);
                        HideProgress();
                    }

                    if (data.success == true) {
                        // alert(ko.toJSON(self));
                        HideProgress();
                        displayMessageAjax(data.message, "success", "BottomCentre", "tempoarayMessage");
                        var RId = $('#RideIdHidden').val();
                        //window.location.href = '@Url.Action("Index", "Ride")';
                        //window.location.href = '/Ride?rideid=' + RId;

                        setTimeout(function () {
                            window.location.href = '/Ride?rideid=' + RId; //will redirect to your blog page (an ex: blog.html)
                        }, 1000); //will call the function after 2 secs.
                        }
                    },
                    error: function () {
                        alert("Failed");
                    }
                });

            };
        }

        $(document).ready(function () {
            $('#InviteUser').autocomplete({
                source: '@Url.Action("GetNames","Group")'
        });
            ko.applyBindings(new GroupModel);
    })

</script>
}