@model FreeWheeling.UI.Models.InviteOthersToPrivateBunchModel
@{
    ViewBag.Title = "InviteOthersToPrivateBunch";
}

<div class="row">
    @Html.ActionLink(" ", "Index", "Ride", new { groupid = @Model.GroupId }, new { @class = "glyphicon glyphicon-chevron-left", @style = "background-color: #FFF; color: #333333;", onclick = "ShowProgress();" })
</div>
<p></p>
<div class="row">
    <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
        <span class="btn btn-default btn-block">
            Invite Others : @Model.Name
        </span>
    </div>
</div>
<div id="templated">
    @Html.HiddenFor(model => model.GroupId, new { @id = "GroupIdHidden" })
    <table>
        <tbody data-bind="template: { name: 'userRowTemplate', foreach: usersLines }"></tbody>
    </table>

    <script type="text/html" id="userRowTemplate">
        <tr>
            
            <td>Enter User name or a valid email address <p></p> <input class="form-control" id="InviteUser" data-bind="value: UserName, valueUpdate:'blur'" />
            <p></p>
            Hit Select a user again to invite another user!
            <p></p>
            </td>

        </tr>
    </script>
    <p></p>

    <button class="btn btn-default btn-sm" data-bind="click: addUser">Select a user</button>

    <p></p>

    <div>
        <p></p>
        <input class="btn btn-default btn-sm" onclick="ShowProgress();" data-bind="click: save" id="btnSubmit" type="submit" value="Send Invites" />

    </div> 
    <p></p>
    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default", onclick = "ShowProgress();" })
</div>



@section Scripts {

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

    $('body').on('focus', "#InviteUser", function () {
        $(this).autocomplete({
            source: '@Url.Action("GetNames","Group")'
        });
    })

    function UserModel() {
        var self = this;
        self.UserName = ko.observable();
    }

    var GroupModel = function () {
        var self = this;
        self.usersLines = ko.observableArray([]);
        self.addUser = function () {
            self.usersLines.push(new UserModel);
        };

        self.save = function () {
            GroupData = {
                InviteUsers: self.usersLines(),
                GroupId: $('#GroupIdHidden').val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("InviteOthersToPrivateBunch", "Group")',
                data: ko.toJSON(GroupData), //Convert the Observable Data into JSON
                contentType: "application/json",
                success: function (data, textStatus, jqXHR) {
                    var err = eval("(" + jqXHR.responseText + ")");
                    if (data.success == false) {
                        alert(err.Message);
                        HideProgress();
                    }

                    if (data.success == true) {
                        // alert(ko.toJSON(self));
                        HideProgress();
                        displayMessageAjax(data.message, "success", "BottomCentre", "tempoarayMessage");
                        var RId = $('#RideIdHidden').val();
                        //window.location.href = '@Url.Action("Index", "Ride")';
                        //window.location.href = '/Ride?rideid=' + RId;

                        setTimeout(function () {
                            window.location.href = '/Ride?rideid=' + RId; //will redirect to your blog page (an ex: blog.html)
                        }, 1000); //will call the function after 2 secs.
                        }
                    },
                    error: function () {
                        alert("Failed");
                    }
                });

            };
        }

        $(document).ready(function () {
            $('#InviteUser').autocomplete({
                source: '@Url.Action("GetNames","Group")'
        });
            ko.applyBindings(new GroupModel);
    })

</script>
}