@model FreeWheeling.UI.Models.FeedBackModel

@{
    ViewBag.Title = "Feedback";
}

@using (Ajax.BeginForm("Feedback", "Home", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
        OnSuccess = "updateSuccess",
        OnFailure = "updateFailure"
    }, new { @id = "submitFeedBack" }))
{
 
<div class="container">
    <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="InputName">Your Name</label>
                    <div class="input-group">
                        @Html.TextBoxFor(j => j.Name, new {@class="form-control", placeholder = "Enter Name" })
                    </div>
                </div>
                @*<div class="form-group">
                    <label for="InputEmail">Your Email</label>
                    <div class="input-group">
                        @Html.TextBoxFor(j => j.Email, new { @class = "form-control", placeholder = "Enter Email" })
                    </div>
                </div>*@
                <div class="form-group">
                    <label for="InputMessage">Message</label>
                    <div class="input-group">
                        @Html.TextAreaFor(i => i.Message, new { @class = "form-control", placeholder = "Enter Message", rows = "5" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputReal">What is 4+3?</label>
                    <div class="input-group">
                        @Html.TextBoxFor(j => j.SumValue, new { @class = "form-control", placeholder = "" })
                        @Html.ValidationMessageFor(model => model.SumValue)
                    </div>
                </div>
                <input onclick="ShowProgress();" type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        <hr class="featurette-divider hidden-lg">
    </div>
</div>
}
@section scripts{
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    jQuery(document).ready(function () {
        HideProgress();
    });

    $("form").submit(function () {
        if (!$(this).valid()) {
            HideProgress();
        }
        else {

        }
    });

    function updateSuccess(data) {
        alert(data.Message);
        window.location.href = '/';
    }
    function updateFailure(data) {
        alert(data.Message);
        HideProgress();
    }
</script>
}