@model FreeWheeling.UI.Models.HomeIndexModel
@using FreeWheeling.Domain.Entities
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
@if (Model.LocationsId != 0)
{
    if (Model.HomePageRide != null)
    {   
        @Html.Hidden("RideIdHidden", @Model.HomePageRide.id)
        
        <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;width:100%;">
            <span class="btn btn-default btn-block">Your next bunch: <a href="/Ride/ViewSingleRide?RideId=@(Model.HomePageRide.id)&fromhome=true"> @Model.HomePageRide.Group.name</a></span>
        </div>  
        <div class='panel-group'>
            <div class='panel panel-default'>           
                    <div class="SecondaryHeadingMain panel-heading">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <div class="col-xs-10 col-md-11 col-sm-10 SecondaryHeadingMain" data-toggle=" collapse" href="">
                                <a href="/Ride/ViewSingleRide?RideId=@(Model.HomePageRide.id)&fromhome=true">
                                    @Model.HomePageRide.RideDate.ToString("dddd, d MMM, HH:mm")
                                </a>
                            </div>
                            <div class="col-xs-1 col-md-1 col-sm-1">
                                @Html.ActionLink(string.Concat(" "), "Index", "Ride", new { groupid = @Model.HomePageRide.Group.id, fromhome = "true" },
                                new { @class = "glyphicon glyphicon-search", onclick = "ShowProgress();" })
                            </div>
                        </div>
                    </div>                               
                        <div class="SecondaryHeading panel-heading">
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                <div class="col-xs-10 col-md-11 col-sm-10">
                                    <a data-toggle="collapse" href="#collapseKeenFirst" class="SecondaryHeading">Keen</a>
                                    <a class="SecondaryHeading" id="@("KeenCountSpan"+@Model.HomePageRide.id)">(@Model.Keencount.ToString())</a>
                                </div>
                                <div class="col-xs-1 col-md-1 col-sm-1">
                                    <a class="SecondaryHeading" id="" data-toggle="collapse" href=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body panelBody">                              
                                    <span class="col-xs-6 col-md-2 col-sm-2 col-lg-2"> <b>Are you in?</b></span>                        
                                 @Html.Partial("_HomePageKeenStatus", Model)
                            <hr />
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                <div style="" class="col-xs-12 col-md-12 col-sm-12">
                                    @Html.Partial("_HomePageKeenActions", Model)
                                </div>
                            </div>

                        </div>
                </div>
        </div>
    }
        <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;">
		    @Html.ActionLink("bunches", "Index", "Group", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
		    @Html.ActionLink(" ", "Create", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "text-align:center;top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
	    </div>

        <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:15px;">
            @Html.ActionLink("random bunches (" + @Model.UpCommingAd_HocCount + ")", "AdHocList", "Ride", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
            @Html.ActionLink(" ", "CreateAdHoc", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "text-align:center;top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
        </div>

    if (Model.FavouriteBunches != null)
    {
        <table class="table content-box">
            <tr>
                <th><span style="" class="glyphicon glyphicon-star"></span><span style="position: relative; top: -1px;"> favourites</span></th>
            </tr>

            @if (Model.FavouriteBunches.Count() != 0)
            {
                foreach (Group bunch in Model.FavouriteBunches)
                {
                    <tr>
                        <td><a href="/Ride?groupid=@(bunch.id)&fromhome=true"><div>@bunch.name<div class=" pull-right glyphicon glyphicon-search"></div></div></a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <p>Hey you don't have any favourite bunches?</p>
                        <p>
                            Did you know that adding bunches to your favourites makes it easier to access
                            your next bunch from the home screen.
                        </p>
                        <p><b>What are you waiting for add a bunch to your favourite list!</b></p> 
                    </td>
                </tr>  
            }
        </table>
    }        
}
else
{
    using (Html.BeginForm())
    {
		@Html.DropDownListFor(
			 x => x.LocationsId,
			 new SelectList(
			 Model.Locations.ToList().Select(
			 x => new { Value = x.id, Text = x.Name }
			),
			"Value",
			"Text", Model.LocationsId
			), "-- Set a Location --", new { @class = "form-control" }
			)
		<p></p>
		<input type="submit" value="Set Location" class="btn btn-primary" />
	}
}

    </div>
    @section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/azuremobile")
    @Scripts.Render("~/bundles/pusher")
<script src="~/Scripts/DoubleBunchRide.js"></script>
        <script>
            function onsuccesskeen(data) {
                //alert(data.message);
                KeenCompleteFirst(data);
                //$("#bunchname").css("top", "0px");

                if (data.message == "OnWay") {
                    //$("#statusspan").addClass("glyphicon glyphicon-ok-sign");
                    $("#statusspan").removeClass();                 
                    $("#statusspan").html("On way");
                    displayMessageAjax("On you're way", "success", "", "tempoarayMessage");
                }

                if (data.message == "In") {
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("glyphicon glyphicon-thumbs-up");
                    $("#statusspan").html("");
                    displayMessageAjax("You're in", "success", "", "tempoarayMessage");
                }

                if (data.message == "Out") {
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("glyphicon glyphicon-thumbs-down");
                    $("#statusspan").html("");
                    displayMessageAjax("You're out", "success", "", "tempoarayMessage");
                }               
                HideProgress();
            }
            jQuery(document).ready(function () {
                //displayMessageAjax("hello", "error", "BottomCentre", "tempoarayMessage");
                HideProgress();
            });
        </script>
    }