@model FreeWheeling.UI.Models.HomeIndexModel
@{
    ViewBag.Title = "Home Page";
}

@if (Model.LocationsId != 0)
{
  <span class="btn btn-primary"> @Model.CurrentUserLocation </span>  @Html.ActionLink(" ", "LocationChange", "Home", new { }, new { @class = "glyphicon glyphicon-pencil", onclick = "ShowProgress();" }) 
}
else
{

    using (Html.BeginForm())
    {
        @Html.DropDownListFor(
             x => x.LocationsId,
             new SelectList(
             Model.Locations.ToList().Select(
             x => new { Value = x.id, Text = x.Name }
            ),
            "Value",
            "Text", Model.LocationsId
            ), "-- Set a Location --", new {@class = "form-control" }
            )
        <p></p>
        <input type="submit" value="Set Location" class="btn btn-primary" />
    }    
}
    <p></p>
    <hr />
    <p></p>
    @if (Model.LocationsId != 0)
        {
            <p class="text-left">@Html.ActionLink("bunches", "Index", "Group", new { }, new { @class = "btn btn-primary", onclick = "ShowProgress();" }) @Html.ActionLink("+", "Create", "Group", new { }, new { @class = "btn btn-success", onclick = "ShowProgress();" }) </p>
            <p class="text-left">@Html.ActionLink("Favourite bunches", "Mybunches", "Group", new { }, new { @class = "btn btn-primary", onclick = "ShowProgress();" })</p>
            <p class="text-left">@Html.ActionLink("Ad Hoc bunch (" + @Model.UpCommingAd_HocCount + ")", "AddHocList", "Ride", new { }, new { @class = "btn btn-primary", onclick = "ShowProgress();" }) @Html.ActionLink("+", "CreateAdHoc", "Group", new { }, new { @class = "btn btn-success", onclick = "ShowProgress();" }) </p>

            <hr />     
        }
        
<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            HideProgress();
        });
    </script>
}