@model FreeWheeling.UI.Models.HomeIndexModel
@using FreeWheeling.Domain.Entities
@{
    ViewBag.Title = "Home Page";
}
<script src="http://cdn.millennialmedia.com/mmadlib/v1/mmadlib.js"></script>
<div class="row">
@if (Model.LocationsId != 0)
{
    if (Model.HomePageRide != null)
    { 
      @Html.Hidden("RideIdHidden", @Model.HomePageRide.id)  
      @Html.Partial("_HomePageNextRide",Model)
    }
    else
    {
        if(Model.HomePageRandomRide != null)
        {
         @Html.Hidden("RideIdHidden", @Model.HomePageRandomRide.id)
         @Html.Partial("_HomePageNextRandomRide",Model)           
        }   
    }     
        <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;margin-top:10px;">
		    @Html.ActionLink("Bunches", "Index", "Group", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
		    @Html.ActionLink(" ", "Create", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "text-align:center;top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
	    </div>

        <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:15px;">
            @Html.ActionLink("Random Bunches (" + @Model.UpCommingAd_HocCount + ")", "AdHocList", "Ride", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
            @Html.ActionLink(" ", "CreateAdHoc", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "text-align:center;top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
        </div>

    if (Model.FavouriteBunches != null)
    {
        <table class="table content-box">
            <tr>
                <th><span style="" class="glyphicon glyphicon-star"></span><span style="position: relative; top: -1px;"> Favourites</span></th>
            </tr>
            @if (Model.FavouriteBunches.Count() != 0)
            {
                foreach (Group bunch in Model.FavouriteBunches)
                {
                    <tr>
                        <td><a href="/Ride?groupid=@(bunch.id)&fromhome=true"><div><b>@bunch.name</b><div class=" pull-right glyphicon glyphicon-search"></div></div></a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <p>Hey you don't have any favourite bunches?</p>
                        <p>
                            Did you know that adding bunches to your favourites makes it easier to access
                            your next bunch from the home screen.
                        </p>
                        <p><b>What are you waiting for add a bunch to your favourite list!</b></p> 
                    </td>
                </tr>  
            }
        </table>
    <div align="center" style="height:50px;" id="bunchycycle"></div>
    }
    else
    {
       <table class="table content-box">
           <tr>
               <th><span style="" class="glyphicon glyphicon-star"></span><span style="position: relative; top: -1px;"> Favourites</span></th>
           </tr>
           <tr>
               <td>
                   <p>Hey you don't have any favourite bunches?</p>
                   <p>
                       Did you know that adding bunches to your favourites makes it easier to access
                       your next bunch from the home screen.
                   </p>
                   <p><b>What are you waiting for add a bunch to your favourite list!</b></p>
               </td>
           </tr>  
       </table>  
    }  
}
else
{
    using (Html.BeginForm())
    {
		@Html.DropDownListFor(
			 x => x.LocationsId,
			 new SelectList(
			 Model.Locations.ToList().Select(
			 x => new { Value = x.id, Text = x.Name }
			),
			"Value",
			"Text", Model.LocationsId
			), "-- Set a Location --", new { @class = "form-control" }
			)
		<p></p>
		<input type="submit" value="Set Location" class="btn btn-default" />
	}
}
    </div>
    @section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/azuremobile")
    @Scripts.Render("~/bundles/pusher")
<script src="~/Scripts/DoubleBunchRide.js"></script>
        <script>
            function onsuccesskeen(data) {
                KeenCompleteFirst(data);
                //$("#bunchname").css("top", "0px");

                if (data.message == "OnWay") {
                    //$("#statusspan").addClass("glyphicon glyphicon-ok-sign");
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("pull-right");
                    $("#statusspan").html("on way");
                    displayMessageAjax("On you're way", "success", "", "tempoarayMessage");
                }

                if (data.message == "In") {
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("pull-right col-xs-1 col-lg-1 glyphicon glyphicon-thumbs-up");
                    $("#statusspan").html("");
                    displayMessageAjax("You're in", "success", "", "tempoarayMessage");
                }

                if (data.message == "Out") {
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("pull-right col-xs-1 col-lg-1 glyphicon glyphicon-thumbs-down");
                    $("#statusspan").html("");
                    displayMessageAjax("You're out", "success", "", "tempoarayMessage");
                }               
                HideProgress();
            }

            function onsuccesskeenrandom(data) {
                data.parentid = data.rideid; //This is set because we dont have parent id on home page but are using script that normally does.
                KeenCompleteFirstRandom(data);
                //$("#bunchname").css("top", "0px");

                if (data.message == "OnWay") {
                    //$("#statusspan").addClass("glyphicon glyphicon-ok-sign");
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("pull-right");
                    $("#statusspan").html("on way");
                    displayMessageAjax("On you're way", "success", "", "tempoarayMessage");
                }

                if (data.message == "In") {
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("pull-right glyphicon glyphicon-thumbs-up");
                    $("#statusspan").html("");
                    displayMessageAjax("You're in", "success", "", "tempoarayMessage");
                }

                if (data.message == "Out") {
                    $("#statusspan").removeClass();
                    $("#statusspan").addClass("pull-right glyphicon glyphicon-thumbs-down");
                    $("#statusspan").html("");
                    displayMessageAjax("You're out", "success", "", "tempoarayMessage");
                }
                HideProgress();
            }

            function KeenCompleteFirstRandom(data) {
                HideProgress();
                //Keen
                var client = new WindowsAzure.MobileServiceClient(
                         "http://bunchydev.azure-mobile.net/",
                         "HIdMfCPoYsHPanowdOvYsYOnmbZbsq45"
                          );

                var item = {
                    text: data.message,
                    bunchid: data.rideid,
                    username: data.username,
                    keencount: data.keencount,
                    leavetime: data.leavetime,
                    socket_id: socketId
                };
                client.getTable("Keenadhoc").insert(item);
                $("form #submit_AdHocComment").val("");
                UpdateKeenActions(data.message, data.rideid, data.keencount, data.username, data.leavetime);
            }

            jQuery(document).ready(function () {
                var rideId = jQuery('#RideIdHidden').val();
                var pusher = new Pusher('dba777635636cbc16582');
                var channel = pusher.subscribe('BunchyRide' + rideId);

                if (channel != null) {
                    channel.bind('You-InAdHoc', function (data) {
                        UpdateKeenActionsPusher(data.message, data.rideid, data.keencount, data.username, data.leavetime);
                    });
                }

                HideProgress();
            });
        </script>
<script>
    function callBack(adFilled) {
        //adFilled will be true if the ad fills, else it will be false
        //console.log("was the ad filled: " + adFilled);
    };
    window.mmAPI.placeAd({
        containerElementId: "bunchycycle",
        apid: "164536",
        placementType: "inline",
        width: 300,
        height: 50,
        allowLocation: true
    },callBack);
</script>
    }