@model FreeWheeling.UI.Models.HomeIndexModel
@using FreeWheeling.Domain.Entities
@{
    ViewBag.Title = "Home Page";
}
<hr />
<div class="row">
@if (Model.LocationsId != 0)
{
    if (Model.HomePageRide != null)
    {   
        @Html.Hidden("RideIdHidden", @Model.HomePageRide.id)
        <table class="table content-box">
            <tr style="width:100%">
                <td style="width:100%">
                    @if (!@Model.IsOnWay)
                    {                            
                        <span id="bunchname" style="position: relative; top: 0px;"><a href="/Ride/ViewSingleRide?RideId=@(Model.HomePageRide.id)&fromhome=true"><b>your next bunch:</b> @Model.HomePageRide.Group.name</a></span>                    
                    }
                    else
                    {                 
                            <span id="bunchname" style="position: relative; top: 0px;"><a href="/Ride/ViewSingleRide?RideId=@(Model.HomePageRide.id)&fromhome=true"><b>your next bunch:</b> @Model.HomePageRide.Group.name</a></span>                       
                    }
               </td>
                <td>
                    @if (!@Model.IsOnWay)
                    {
                        <span id="onwayspan" class="pull-right">
                            @Ajax.ActionLink("on way", "Attend", "Ride",
                new { RideId = @Model.HomePageRide.id, commitment = "OnWay", Groupid = @Model.HomePageRide.Group.id, ParentRideID = @Model.HomePageRide.id },
                 new AjaxOptions
                 {
                     HttpMethod = "POST",
                     OnSuccess = "onsuccesskeen",
                     OnBegin = "ShowProgress"
                 },
                 new
                 {
                     @class = "",
                     style = "text-decoration:underline;textcolor:#FFF;position:relative;",
                     onclick = "ShowProgress();",
                     @id = "onwayid"
                 })
                    </span>
                    }
                    else
                    {
                        <span id="onwayspan" class="pull-right glyphicon glyphicon-ok-sign">
                            
                        </span>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Ride/ViewSingleRide?RideId=@(Model.HomePageRide.id)&fromhome=true">@Model.HomePageRide.RideDate.DayOfWeek, @Model.HomePageRide.RideDate.ToShortTimeString()</a>
                </td>
                <td>
                    @Html.ActionLink(string.Concat(" "), "ViewSingleRide", "Ride", new { RideId = @Model.HomePageRide.id, fromhome = "true" },
             new { @class = "pull-right glyphicon glyphicon-search", onclick = "ShowProgress();" })

                </td>
            </tr>
        </table>
    }
     <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;">
		@Html.ActionLink("bunches", "Index", "Group", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
		@Html.ActionLink(" ", "Create", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "text-align:center;top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
	</div>

    <div class="btn-group btn-block col-xs-12 col-md-3 col-sm-6" style="margin-bottom:15px;">
        @Html.ActionLink("random bunches (" + @Model.UpCommingAd_HocCount + ")", "AdHocList", "Ride", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
        @Html.ActionLink(" ", "CreateAdHoc", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "text-align:center;top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
    </div>

    if (Model.FavouriteBunches != null)
    {
        <table class="table content-box">
            <tr>
                <th><span style="" class="glyphicon glyphicon-star"></span><span style="position: relative; top: -1px;"> favourites</span></th>
            </tr>
            @foreach (Group bunch in Model.FavouriteBunches)
            {
                <tr>
                    <td><a href="/Ride?groupid=@(bunch.id)&fromhome=true"><div>@bunch.name<div class=" pull-right glyphicon glyphicon-search"></div></div></a></td>
                </tr>
            }

        </table>
    }
    <hr class="visible-xs" />         
}
else
{
    using (Html.BeginForm())
    {
		@Html.DropDownListFor(
			 x => x.LocationsId,
			 new SelectList(
			 Model.Locations.ToList().Select(
			 x => new { Value = x.id, Text = x.Name }
			),
			"Value",
			"Text", Model.LocationsId
			), "-- Set a Location --", new { @class = "form-control" }
			)
		<p></p>
		<input type="submit" value="Set Location" class="btn btn-primary" />
	}
}

    </div>
    <div class="loading" border-radius:100%;" align="center">
        <img src="~/Content/Images/loader.gif" alt="loading" />
    </div>
    @section scripts{
    @Scripts.Render("~/Scripts/jquery.timeago.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/azuremobile")
    @Scripts.Render("~/bundles/pusher")
<script src="~/Scripts/DoubleBunchRide.js"></script>
        <script>
            function onsuccesskeen(data) {
                //alert(moment(data.leavetime));
                KeenCompleteFirst(data);
               // $("#onwayspan").html("<img src='/Content/Images/glyphicons_306_bicycle.png'/>");
                $("#bunchname").css("top", "0px");
                $("#onwayspan").addClass("glyphicon glyphicon-ok-sign");
                $("#onwayspan").html("");
                HideProgress();
            }
            jQuery(document).ready(function () {
                HideProgress();
            });
        </script>
    }