@model FreeWheeling.UI.Models.HomeIndexModel
@using FreeWheeling.Domain.Entities
@{
    ViewBag.Title = "Home Page";
}

@if (Model.LocationsId != 0)
{
    if (Model.HomePageRide != null)
    {
        <table class="table content-box">
            <tr>
                <th><span style="position: relative; top: -3px;"><a href="Ride/ViewSingleRide?RideId=@Model.HomePageRide.id&FromFavPage=False">Next bunch</a></span></th>
            </tr>
            <tr>
                <td>
                    @Model.HomePageRide.RideDate
                </td>
            </tr>
        </table>
    }
     <div class="btn-group col-xs-12 col-md-3 col-sm-6" style="margin-bottom:5px;">
		@Html.ActionLink("Bunches", "Index", "Group", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
		@Html.ActionLink(" ", "Create", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
	</div>
    
    <div class="btn-group col-xs-12 col-md-3 col-sm-6" style="margin-bottom:15px;">
		@Html.ActionLink("One Off Bunches (" + @Model.UpCommingAd_HocCount + ")", "AdHocList", "Ride", new { }, new { @class = "btn col-xs-9 btn-default", onclick = "ShowProgress();" })
		@Html.ActionLink(" ", "CreateAdHoc", "Group", new { }, new { @class = "btn btn-default col-xs-3 glyphicon glyphicon-plus", style = "top: 0px; line-height: 1.45;", onclick = "ShowProgress();" })
	</div>
    
    
    @*<div class="btn-group col-xs-12 col-md-12 col-sm-12" style="margin-bottom:5px;">
        @Html.ActionLink("Favourite Bunches", "Mybunches", "Group", new { }, new { @class = "btn btn-lg col-xs-12 btn-primary", style = "color:white", onclick = "ShowProgress();" })
    </div>*@

    if (Model.FavouriteBunches != null)
    {
        <table class="table content-box">
            <tr>
                <th><span style="font-size:1.5em" class="glyphicon glyphicon-star">&nbsp;</span><span style="position: relative; top: -3px;">FAVOURITES</span></th>
            </tr>
            @foreach (Group bunch in Model.FavouriteBunches)
            {
                <tr>
                    <td><a href="Ride?groupid=@bunch.id&FromFavPage=True"><div>@bunch.name<div class=" pull-right glyphicon glyphicon-zoom-in"></div></div></a></td>
                </tr>
            }

        </table>
    }
    <hr class="visible-xs" />
}
else
{
    using (Html.BeginForm())
    {
		@Html.DropDownListFor(
			 x => x.LocationsId,
			 new SelectList(
			 Model.Locations.ToList().Select(
			 x => new { Value = x.id, Text = x.Name }
			),
			"Value",
			"Text", Model.LocationsId
			), "-- Set a Location --", new { @class = "form-control" }
			)
		<p></p>
		<input type="submit" value="Set Location" class="btn btn-primary" />
	}
}
    <div class="loading" border-radius:100%;" align="center">
        <img src="~/Content/Images/loader.gif" alt="loading" />
    </div>
    @section scripts{
        <script>
            jQuery(document).ready(function () {
                HideProgress();
            });
        </script>
    }