@model FreeWheeling.UI.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/awesome")
@Styles.Render("~/Content/csssocial")
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            <div class="col-md-12">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", 
                    new FreeWheeling.UI.Models.ExternalLoginViewModel() { Action = "ExternalLogin",
                        ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
            <div style="clear:both"></div>
            <hr class="full-line" />
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, 
                new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="content-box">
                    <br />
                    <h4 style="padding-left:15px;">
                        <b><u>@Html.ActionLink("Create Account", "Register", new { ReturnUrl = ViewBag.ReturnUrl })</u></b> or sign in below.
                    </h4>
                    <br />
                    @Html.ValidationSummary(true)

                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="input-group col-md-11">
                            <span class="input-group-btn">
                                <label class="glyphicon glyphicon-user btn-login" style="top: 0px; line-height: 1.45;"></label>
                            </span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder="User Name" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="input-group col-md-11">
                            <span class="input-group-btn">
                                <label class="glyphicon glyphicon-asterisk btn-login" style="top: 0px; line-height: 1.45;"></label>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    @*<div class="col-md-6">
                       <b>@Html.ActionLink("forgot password?", "LostPassword")</b>
                    </div>*@
                    <p></p>
                    @*<div class="col-md-6">
                        <label style="padding:15px;"><u><b>remember me @Html.CheckBoxFor(m => m.RememberMe)</b></u></label>
                        <div class="checkbox">                           
                        </div>
                    </div>*@
                    <p></p>
                    <div class="form-group col-md-12">
                        <div class="col-md-offset-0 col-md-12">
                            <input onclick="ShowProgress();" type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                
            }
        </section>
    </div>

    <div class="loading" align="center">
        Loading. Please wait.<br />
        <br />
        <img src="~/Content/Images/loader.gif" alt="" />
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("form").submit(function () {
        if (!$(this).valid()) {
            HideProgress();
        }
        else {

        }
    });
</script>
}